In [1]:
import pandas as pd

In [2]:
#Read in HCI file for parks
parksurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ParkBeachOpen10_output4-12-13.xlsx'
parks = pd.read_excel(parksurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})

In [9]:
#Overview of file
print parks.shape[0]
print parks.geotype.unique()
print parks.reportyear.unique()
parks.head()

86886
[u'CO' u'CT' u'PL' u'RE' u'ST']
[2010]

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_park_acc,pop2010,p_parkacc,LL_95CI,UL_95CI,se,rse,CA_decile,CA_RR,version
0,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06001,Alameda,Alameda,06001,...,3818.0,4189,0.911435,0.902831,0.920039,0.004390,4.956508,NaN,1.235649,2013-04-12 05:45:17.545
1,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06003,Alpine,Alpine,06003,...,201.0,210,0.957143,0.929749,0.984536,0.013976,32.611226,NaN,1.297617,2013-04-12 05:45:17.545
2,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06005,Amador,Amador,06005,...,176.0,547,0.321755,0.282606,0.360904,0.019974,6.207789,NaN,0.436209,2013-04-12 05:45:17.545
3,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06007,Butte,Butte,06007,...,1843.0,3395,0.542857,0.526100,0.559615,0.008550,1.870238,NaN,0.735962,2013-04-12 05:45:17.545
4,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06009,Calaveras,Calaveras,06009,...,191.0,526,0.363118,0.322020,0.404216,0.020968,5.774480,NaN,0.492286,2013-04-12 05:45:17.545

In [62]:
#Keep data at Place level, for Total race only (Most granular level for which data is available for most indicators)
parks2 = parks[(parks.geotype=="PL") & (parks.race_eth_code == 9)]
#Limit to fields of interest
parks2 = parks2[['geotype', 'geotypevalue', 'geoname', 'county_name', 'county_fips', 'p_parkacc']]

#Note: geotypevalue (FIPS Place code) is a unique key, but geoname is not - 
#There are instances of the same place name in multiple counties
print parks2.shape[0]
print parks2.geotypevalue.nunique()
print parks2.geoname.nunique()

print parks2.loc[parks2.duplicated('geoname', keep=False)]
parks2.head()

1524
1524
1513
      geotype geotypevalue            geoname      county_name county_fips  \
85309      PL        04470        Bayview CDP     Contra Costa       06013
85310      PL        04478        Bayview CDP         Humboldt       06023
85313      PL        04716    Bear Valley CDP           Alpine       06003
85314      PL        04730    Bear Valley CDP         Mariposa       06043
85507      PL        14450   Cold Springs CDP        El Dorado       06017
85508      PL        14454   Cold Springs CDP         Tuolumne       06109
85661      PL        22454    El Sobrante CDP     Contra Costa       06013
85662      PL        22457    El Sobrante CDP        Riverside       06065
85718      PL        25488       Franklin CDP           Merced       06047
85719      PL        25506       Franklin CDP       Sacramento       06067
85776      PL        31092   Green Valley CDP      Los Angeles       06037
85777      PL        31099   Green Valley CDP           Solano       06095
85956      PL        40526     Las Flores CDP           Orange       06059
85957      PL        40536     Las Flores CDP           Tehama       06103
86435      PL        68263     San Miguel CDP     Contra Costa       06013
86436      PL        68266     San Miguel CDP  San Luis Obispo       06079
86530      PL        73690  Spring Valley CDP             Lake       06033
86531      PL        73696  Spring Valley CDP        San Diego       06073
86548      PL        75315     Strawberry CDP            Marin       06041
86549      PL        75322     Strawberry CDP         Tuolumne       06109

       p_parkacc
85309   1.000000
85310   0.144223
85313   1.000000
85314   0.392000
85507   0.325112
85508   1.000000
85661   0.523404
85662   0.061778
85718   0.000000
85719   0.000000
85776   1.000000
85777   0.067077
85956   1.000000
85957   0.000000
86435   1.000000
86436   0.676798
86530   0.973965
86531   0.750186
86548   0.893380
86549   1.000000
Empty DataFrame
Columns: [geotype, geotypevalue, geoname, county_name, county_fips, p_parkacc]
Index: []

In [98]:
# Read in FIPS codes  and limit to codes for CA (NOT SURE IF THIS ACTUALLY PROVIDES ANY NEW INFO OF VALUE - REMOVE?)
fips = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/fips_codes.txt', sep='|',converters={1:str,2:str})
fips = fips[(fips.STATE=="CA")]
fips = fips[['PLACEFP', 'PLACENAME']]
print fips.shape[0]
fips.head()

1523

  PLACEFP           PLACENAME
0   00135  Acalanes Ridge CDP
1   00156          Acampo CDP
2   00212           Acton CDP
3   00296       Adelanto city
4   00310            Adin CDP

In [99]:
#Merge FIPS codes onto HCI indicators
fips.rename(columns={'PLACEFP':'geotypevalue'},inplace =True)
fips.rename(columns={'PLACENAME':'fips_name'},inplace =True)
combined = pd.merge(parks2, fips, on='geotypevalue', how='left')

#HCI data maps cleanly to FIPS codes, except for code 99999 (state average?) - drop this observation
print combined.shape[0]
print combined[combined.fips_name.isnull()]
combined = combined[combined.fips_name.notnull()]
print combined.shape[0]

#Clean up place names to merge with Zillow data
combined['clean_name'] = combined['fips_name'].str.replace(' city', '')
combined['clean_name'] = combined['clean_name'].str.replace(' CDP', '')
combined['clean_name'] = combined['clean_name'].str.replace(' town', '')
combined.head()
print combined.loc[combined.geoname != combined.fips_name]
combined.clean_name.replace('San Buenaventura (Ventura)', 'Ventura', inplace=True)
combined.clean_name.replace('El Paso de Robles (Paso Robles)', 'Paso Robles', inplace=True)

1524
     geotype geotypevalue geoname county_name county_fips  p_parkacc fips_name
1523      PL        99999     NaN         NaN         NaN   0.335702       NaN
1523
     geotype geotypevalue                    geoname     county_name  \
674       PL        39003  La Ca±ada Flintridge city     Los Angeles
1057      PL        57302            Pi±on Hills CDP  San Bernardino

     county_fips  p_parkacc                  fips_name            clean_name
674        06037   0.824953  La Ca�ada Flintridge city  La Ca�ada Flintridge
1057       06071   0.033416            Pi�on Hills CDP           Pi�on Hills

In [22]:
#Read in Zillow rental index
zill_rent_ind = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_ZriPerSqft_AllHomes.csv', converters={1:str})
zill_rent_ind.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,2010-11,2010-12,2011-01,2011-02,...,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,1.752,1.764,1.782,1.790,1.794,1.796,1.798,1.802,1.804,1.810
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,1.578,1.578,1.578,1.580,...,1.904,1.910,1.914,1.920,1.930,1.946,1.960,1.974,1.988,2.002
2,17426,Chicago,IL,Chicago,Cook,3,1.244,1.248,1.254,1.254,...,1.326,1.328,1.330,1.330,1.330,1.336,1.338,1.344,1.352,1.360
3,39051,Houston,TX,Houston,Harris,4,0.788,0.784,0.784,0.786,...,0.974,0.974,0.974,0.972,0.974,0.976,0.980,0.982,0.984,0.984
4,13271,Philadelphia,PA,Philadelphia,Philadelphia,5,0.854,0.858,0.858,0.858,...,0.934,0.932,0.932,0.930,0.930,0.934,0.936,0.942,0.948,0.954

In [43]:
#Limit to observations for CA, keep only vars of interest, and rename vars
zill_rent_ind2 = zill_rent_ind[zill_rent_ind.State == 'CA']
zill_rent_ind2 = zill_rent_ind2[['RegionID', 'RegionName', 'CountyName', '2010-12']]
zill_rent_ind2.rename(columns={'RegionName':'clean_name'},inplace =True)
zill_rent_ind2.rename(columns={'2010-12':'rent_sqft'},inplace =True)
zill_rent_ind2.rename(columns={'CountyName':'county_name'},inplace =True)
zill_rent_ind2.rename(columns={'RegionID':'region_id'},inplace =True)
#Note Zillow only has data on 737 cities, as opposed to 1523 FIPS places
print zill_rent_ind2.shape[0]
zill_rent_ind2.head()

737

    region_id     clean_name    county_name  rent_sqft
1       12447    Los Angeles    Los Angeles      1.578
8       54296      San Diego      San Diego      1.494
10      33839       San Jose    Santa Clara      1.544
12      20330  San Francisco  San Francisco      2.524
33      18203         Fresno         Fresno      0.838

In [93]:
combined2 = pd.merge(combined, zill_rent_ind2, on=['clean_name', 'county_name'], how='outer')
combined2.head()

,geotype,geotypevalue,geoname,county_name,county_fips,p_parkacc,fips_name,clean_name,region_id,rent_sqft
0,PL,00135,Acalanes Ridge CDP,Contra Costa,06013,1.000000,Acalanes Ridge CDP,Acalanes Ridge,NaN,NaN
1,PL,00156,Acampo CDP,San Joaquin,06077,0.000000,Acampo CDP,Acampo,NaN,NaN
2,PL,00212,Acton CDP,Los Angeles,06037,0.403765,Acton CDP,Acton,16677.0,1.088
3,PL,00296,Adelanto city,San Bernardino,06071,0.147017,Adelanto city,Adelanto,16684.0,0.744
4,PL,00310,Adin CDP,Modoc,06049,0.610294,Adin CDP,Adin,NaN,NaN

In [89]:
print combined2.shape[0]
print combined2.clean_name.nunique()
print combined2.fips_name.nunique()
print combined2.region_id.count()

1578
1554
1513
737

In [77]:
#combined2.sortvalues()
print combined2.loc[combined2.duplicated('clean_name', keep=False)].count()
print combined2.loc[combined2.duplicated('clean_name', keep=False)]

geotype         41
geotypevalue    41
geoname         41
county_name     48
county_fips     41
p_parkacc       41
fips_name       41
clean_name      48
region_id       18
rent_sqft       18
dtype: int64
     geotype geotypevalue                geoname      county_name county_fips  \
82        PL        04470            Bayview CDP     Contra Costa       06013
83        PL        04478            Bayview CDP         Humboldt       06023
86        PL        04716        Bear Valley CDP           Alpine       06003
87        PL        04730        Bear Valley CDP         Mariposa       06043
150       PL        07974            Bradley CDP         Monterey       06053
166       PL        08954           Burbank city      Los Angeles       06037
167       PL        08968            Burbank CDP      Santa Clara       06085
280       PL        14450       Cold Springs CDP        El Dorado       06017
281       PL        14454       Cold Springs CDP         Tuolumne       06109
307       PL        16630         Cottonwood CDP           Shasta       06089
417       PL        21796        El Cerrito city     Contra Costa       06013
418       PL        21810         El Cerrito CDP        Riverside       06065
434       PL        22454        El Sobrante CDP     Contra Costa       06013
435       PL        22457        El Sobrante CDP        Riverside       06065
491       PL        25488           Franklin CDP           Merced       06047
492       PL        25506           Franklin CDP       Sacramento       06067
546       PL        30987         Greenfield CDP             Kern       06029
547       PL        30994        Greenfield city         Monterey       06053
549       PL        31092       Green Valley CDP      Los Angeles       06037
550       PL        31099       Green Valley CDP           Solano       06095
729       PL        40526         Las Flores CDP           Orange       06059
730       PL        40536         Las Flores CDP           Tehama       06103
764       PL        41922           Live Oak CDP       Santa Cruz       06087
765       PL        41936          Live Oak city           Sutter       06101
831       PL        45736          Maricopa city             Kern       06029
918       PL        49651      Mountain View CDP     Contra Costa       06013
919       PL        49670     Mountain View city      Santa Clara       06085
1015      PL        55520          Paradise town            Butte       06007
1016      PL        55528           Paradise CDP             Mono       06051
1146      PL        62602     Rolling Hills city      Los Angeles       06037
1147      PL        62625      Rolling Hills CDP           Madera       06039
1208      PL        68263         San Miguel CDP     Contra Costa       06013
1209      PL        68266         San Miguel CDP  San Luis Obispo       06079
1275      PL        72282        Smartsville CDP             Yuba       06115
1303      PL        73690      Spring Valley CDP             Lake       06033
1304      PL        73696      Spring Valley CDP        San Diego       06073
1321      PL        75315         Strawberry CDP            Marin       06041
1322      PL        75322         Strawberry CDP         Tuolumne       06109
1388      PL        80515              Trona CDP             Inyo       06027
1467      PL        84438  Westlake Village city      Los Angeles       06037
1480      PL        84928           Westwood CDP           Lassen       06035
1526     NaN          NaN                    NaN          Ventura         NaN
1529     NaN          NaN                    NaN           Tehama         NaN
1543     NaN          NaN                    NaN           Plumas         NaN
1547     NaN          NaN                    NaN           Nevada         NaN
1555     NaN          NaN                    NaN   San Bernardino         NaN
1561     NaN          NaN                    NaN          Ventura         NaN
1563     NaN          NaN                    NaN  San Luis Obispo         NaN

      p_parkacc              fips_name        clean_name  region_id  rent_sqft
82     1.000000            Bayview CDP           Bayview        NaN        NaN
83     0.144223            Bayview CDP           Bayview        NaN        NaN
86     1.000000        Bear Valley CDP       Bear Valley        NaN        NaN
87     0.392000        Bear Valley CDP       Bear Valley        NaN        NaN
150    0.000000            Bradley CDP           Bradley        NaN        NaN
166    0.777937           Burbank city           Burbank   396054.0      1.682
167    0.423264            Burbank CDP           Burbank     3893.0      1.804
280    0.325112       Cold Springs CDP      Cold Springs        NaN        NaN
281    1.000000       Cold Springs CDP      Cold Springs        NaN        NaN
307    0.035585         Cottonwood CDP        Cottonwood        NaN        NaN
417    1.000000        El Cerrito city        El Cerrito    51858.0      1.348
418    0.006078         El Cerrito CDP        El Cerrito        NaN        NaN
434    0.523404        El Sobrante CDP       El Sobrante    51863.0      1.226
435    0.061778        El Sobrante CDP       El Sobrante        NaN        NaN
491    0.000000           Franklin CDP          Franklin        NaN        NaN
492    0.000000           Franklin CDP          Franklin        NaN        NaN
546    0.829366         Greenfield CDP        Greenfield        NaN        NaN
547    0.954317        Greenfield city        Greenfield    31854.0      0.922
549    1.000000       Green Valley CDP      Green Valley        NaN        NaN
550    0.067077       Green Valley CDP      Green Valley        NaN        NaN
729    1.000000         Las Flores CDP        Las Flores        NaN        NaN
730    0.000000         Las Flores CDP        Las Flores        NaN        NaN
764    0.986479           Live Oak CDP          Live Oak        NaN        NaN
765    0.920520          Live Oak city          Live Oak    12410.0      0.888
831    0.890815          Maricopa city          Maricopa        NaN        NaN
918    0.733558      Mountain View CDP     Mountain View        NaN        NaN
919    0.694408     Mountain View city     Mountain View    32999.0      1.894
1015   0.444809          Paradise town          Paradise    40242.0      0.912
1016   1.000000           Paradise CDP          Paradise        NaN        NaN
1146   0.446237     Rolling Hills city     Rolling Hills     6822.0      2.706
1147   0.000000      Rolling Hills CDP     Rolling Hills        NaN        NaN
1208   1.000000         San Miguel CDP        San Miguel        NaN        NaN
1209   0.676798         San Miguel CDP        San Miguel    33847.0      1.130
1275   0.474576        Smartsville CDP       Smartsville        NaN        NaN
1303   0.973965      Spring Valley CDP     Spring Valley        NaN        NaN
1304   0.750186      Spring Valley CDP     Spring Valley    41025.0      1.258
1321   0.893380         Strawberry CDP        Strawberry        NaN        NaN
1322   1.000000         Strawberry CDP        Strawberry        NaN        NaN
1388   1.000000              Trona CDP             Trona        NaN        NaN
1467   1.000000  Westlake Village city  Westlake Village        NaN        NaN
1480   0.000000           Westwood CDP          Westwood        NaN        NaN
1526        NaN                    NaN  Westlake Village    41673.0      1.492
1529        NaN                    NaN        Cottonwood    14803.0      0.902
1543        NaN                    NaN          Westwood    43338.0      1.072
1547        NaN                    NaN       Smartsville    43246.0      0.892
1555        NaN                    NaN             Trona    48045.0      0.844
1561        NaN                    NaN          Maricopa    19202.0      0.876
1563        NaN                    NaN           Bradley    37539.0      1.138

In [94]:
print combined2[['county_name', 'clean_name']].loc[combined2.geotypevalue.isnull()]

          county_name              clean_name
1523      Los Angeles    La Canada Flintridge
1524          Ventura        Westlake Village
1525             Kern              Mc Farland
1526         Monterey                  Carmel
1527           Tehama              Cottonwood
1528       Sacramento             Sloughhouse
1529           Merced                  Hilmar
1530           Sutter         South Yuba City
1531        El Dorado                  Rescue
1532       Sacramento   Mather Air Force Base
1533           Orange               Silverado
1534   San Bernardino               Helendale
1535        San Mateo       Broadmoor Village
1536         Monterey           Carmel Valley
1537        El Dorado                    Cool
1538         Tuolumne                Tuolumne
1539          Ventura                   Somis
1540   San Bernardino             Pinon Hills
1541           Plumas                Westwood
1542        El Dorado               El Dorado
1543   San Bernardino                 Landers
1544      Los Angeles             Pearblossom
1545           Nevada             Smartsville
1546      Los Angeles                   Llano
1547        San Diego            Pauma Valley
1548           Fresno               Tollhouse
1549   San Bernardino        Newberry Springs
1550         Tuolumne               La Grange
1551           Sonoma           The Sea Ranch
1552            Marin               Lagunitas
1553   San Bernardino                   Trona
1554      Los Angeles  Palos Verdes Peninsula
1555   San Bernardino              Cedar Glen
1556         Mariposa            Coulterville
1557           Placer               Applegate
1558   San Bernardino                    Earp
1559          Ventura                Maricopa
1560   San Bernardino       Green Valley Lake
1561  San Luis Obispo                 Bradley
1562           Plumas      Blairsden-Graeagle
1563         Tuolumne               Pinecrest
1564        Riverside               Idyllwild
1565   San Bernardino               Sugarloaf
1566           Placer              Tahoe City
1567         Tuolumne          Mi Wuk Village
1568           Placer                Homewood
1569        San Diego            Santa Ysabel
1570   San Bernardino                Fawnskin
1571           Sonoma               Annapolis
1572   San Bernardino            Angelus Oaks
1573           Fresno                 Prather
1574             Yuba           Browns Valley
1575   San Bernardino              Twin Peaks
1576   San Bernardino            Forest Falls