In [1]:
import pandas as pd

In [2]:
#Read in HCI file for parks
parksurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ParkBeachOpen10_output4-12-13.xlsx'
parks = pd.read_excel(parksurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
parks.columns = [x.lower() for x in parks.columns]

In [3]:
#Overview of file
print parks.shape[0]
print parks.geotype.unique()
print parks.reportyear.unique()
parks.head()

86886
[u'CO' u'CT' u'PL' u'RE' u'ST']
[2010]

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_park_acc,pop2010,p_parkacc,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,version
0,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06001,Alameda,Alameda,06001,...,3818.0,4189,0.911435,0.902831,0.920039,0.004390,4.956508,NaN,1.235649,2013-04-12 05:45:17.545
1,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06003,Alpine,Alpine,06003,...,201.0,210,0.957143,0.929749,0.984536,0.013976,32.611226,NaN,1.297617,2013-04-12 05:45:17.545
2,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06005,Amador,Amador,06005,...,176.0,547,0.321755,0.282606,0.360904,0.019974,6.207789,NaN,0.436209,2013-04-12 05:45:17.545
3,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06007,Butte,Butte,06007,...,1843.0,3395,0.542857,0.526100,0.559615,0.008550,1.870238,NaN,0.735962,2013-04-12 05:45:17.545
4,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06009,Calaveras,Calaveras,06009,...,191.0,526,0.363118,0.322020,0.404216,0.020968,5.774480,NaN,0.492286,2013-04-12 05:45:17.545

In [4]:
#Keep data at Place level, for Total race only (Most granular level for which data is available for most indicators)
parks2 = parks[(parks.geotype=="PL") & (parks.race_eth_code == 9)]
#Limit to fields of interest (don't need names, get those from FIPS file below)
parks2 = parks2[['geotypevalue','geoname', 'p_parkacc', 'pop2010']]

#Note: geotypevalue (FIPS Place code) is a unique key, but geoname is not - 
#There are instances of the same place name in multiple counties
print parks2.shape[0]
print parks2.geotypevalue.nunique()
print parks2.geoname.nunique()

print parks2.loc[parks2.duplicated('geoname', keep=False)]
parks2.head()

1524
1524
1513
      geotypevalue            geoname  p_parkacc  pop2010
85309        04470        Bayview CDP   1.000000     1754
85310        04478        Bayview CDP   0.144223     2510
85313        04716    Bear Valley CDP   1.000000      121
85314        04730    Bear Valley CDP   0.392000      125
85507        14450   Cold Springs CDP   0.325112      446
85508        14454   Cold Springs CDP   1.000000      181
85661        22454    El Sobrante CDP   0.523404    12669
85662        22457    El Sobrante CDP   0.061778    12723
85718        25488       Franklin CDP   0.000000     6149
85719        25506       Franklin CDP   0.000000      155
85776        31092   Green Valley CDP   1.000000     1027
85777        31099   Green Valley CDP   0.067077     1625
85956        40526     Las Flores CDP   1.000000     5971
85957        40536     Las Flores CDP   0.000000      187
86435        68263     San Miguel CDP   1.000000     3392
86436        68266     San Miguel CDP   0.676798     2336
86530        73690  Spring Valley CDP   0.973965      845
86531        73696  Spring Valley CDP   0.750186    28205
86548        75315     Strawberry CDP   0.893380     5393
86549        75322     Strawberry CDP   1.000000       86

      geotypevalue             geoname  p_parkacc  pop2010
85227        00135  Acalanes Ridge CDP   1.000000     1137
85228        00156          Acampo CDP   0.000000      341
85229        00212           Acton CDP   0.403765     7596
85230        00296       Adelanto city   0.147017    31765
85231        00310            Adin CDP   0.610294      272

In [5]:
#Read in HCI file for Gini Coefficient
giniurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/gini_place_county_region_st3-26-14.xlsx'
gini = pd.read_excel(giniurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
gini.columns = [x.lower() for x in gini.columns]
print gini.shape[0]
print gini.geotype.unique()
print gini.reportyear.unique()
gini.head()

4788
[u'CA' u'CO' u'PL' u'RE']
[u'2005-2007' u'2006-2010' u'2008-2010']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,gini_index,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,median_hh_income,median_hh_decile,version
0,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CA,06,California,NaN,NaN,...,0.468,0.465617,0.470383,0.001216,0.259787,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
1,556,Income inequality: Gini coefficient describing...,2006-2010,9,Total,CA,06,California,NaN,NaN,...,0.469,0.467809,0.470191,0.000608,0.129617,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
2,556,Income inequality: Gini coefficient describing...,2008-2010,9,Total,CA,06,California,NaN,NaN,...,0.471,0.468617,0.473383,0.001216,0.258133,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
3,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06001,Alameda,Alameda,06001,...,0.455,0.449043,0.460957,0.003040,0.668025,NaN,0.972222,66430.0,3.0,2014-03-26 09:50:34
4,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06003,Alpine,Alpine,06003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03-26 09:50:34

In [6]:
gini2 = gini[(gini.geotype=="PL") & (gini.race_eth_code == 9)]
print gini2.shape[0]
print gini2.reportyear.value_counts()
print gini2.gini_index[gini2.reportyear == '2005-2007'].count()
print gini2.gini_index[gini2.reportyear == '2006-2010'].count()
print gini2.gini_index[gini2.reportyear == '2008-2010'].count()
print gini2.median_hh_income[gini2.reportyear == '2006-2010'].count()
#Gini file has data for multiple data ranges. 2006-2010 is most complete, so we keep those observations
gini2 = gini2[gini2.reportyear == '2006-2010']
#Keep fields of interest
gini2 = gini2[['geotypevalue', 'gini_index', 'median_hh_income']]
gini2.head()

4569
2005-2007    1523
2008-2010    1523
2006-2010    1523
Name: reportyear, dtype: int64
328
1471
341
1138

     geotypevalue  gini_index  median_hh_income
1700        00135       0.415          140185.0
1701        00156         NaN               NaN
1702        00212       0.378           90888.0
1703        00296       0.384           43305.0
1704        00310       0.369               NaN

In [7]:
#Merge onto Parks by place code to create combined HCI file
hci = pd.merge(parks2, gini2, on='geotypevalue', how='outer')
print hci.shape[0]
hci.head(5)

1524

,geotypevalue,geoname,p_parkacc,pop2010,gini_index,median_hh_income
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0
1,00156,Acampo CDP,0.000000,341,NaN,NaN
2,00212,Acton CDP,0.403765,7596,0.378,90888.0
3,00296,Adelanto city,0.147017,31765,0.384,43305.0
4,00310,Adin CDP,0.610294,272,0.369,NaN

In [8]:
#Read in HCI file for Transport to work
transporturl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Transportation2Work_42_CT_PL_CO_RE_ST_12-12-13-revised.xlsx'
transport = pd.read_excel(transporturl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
transport.columns = [x.lower() for x in transport.columns]
print transport.shape[0]
print transport.geotype.unique()
print transport.reportyear.unique()
transport.head(5)

202202
[u'CA' u'CO' u'CT' u'PL' u'RE']
[u'2000' u'2005-2007' u'2006-2010' u'2008-2010']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_total,pop_mode,percent,ll95ci_percent,ul95ci_percent,percent_se,percent_rse,ca_decile,ca_rr,version
0,42,Percent of residents mode of transportation to...,2000,1,AIAN,CA,06,California,NaN,NaN,...,73560.0,2414.0,3.281675,NaN,NaN,NaN,NaN,NaN,0.855733,2013-12-12 15:40:44
1,42,Percent of residents mode of transportation to...,2000,2,Asian,CA,06,California,NaN,NaN,...,1634923.0,42902.0,2.624099,NaN,NaN,NaN,NaN,NaN,0.684263,2013-12-12 15:40:44
2,42,Percent of residents mode of transportation to...,2000,3,AfricanAm,CA,06,California,NaN,NaN,...,797818.0,21348.0,2.675798,NaN,NaN,NaN,NaN,NaN,0.697744,2013-12-12 15:40:44
3,42,Percent of residents mode of transportation to...,2000,4,Latino,CA,06,California,NaN,NaN,...,3865125.0,75246.0,1.946793,NaN,NaN,NaN,NaN,NaN,0.507648,2013-12-12 15:40:44
4,42,Percent of residents mode of transportation to...,2000,5,NHOPI,CA,06,California,NaN,NaN,...,42880.0,1088.0,2.537313,NaN,NaN,NaN,NaN,NaN,0.661632,2013-12-12 15:40:44

In [9]:
transport2 = transport[(transport.geotype=="PL") & (transport.race_eth_code == 9)]
transport2 = transport2[['geotypevalue','reportyear', 'mode', 'pop_total', 'percent']]
print transport2.shape[0]
print transport2.reportyear.value_counts()
print transport2.percent[transport2.reportyear == '2000'].count()
print transport2.percent[transport2.reportyear == '2005-2007'].count()
print transport2.percent[transport2.reportyear == '2008-2010'].count()
print transport2.percent[transport2.reportyear == '2006-2010'].count()
transport2 = transport2[transport2.reportyear == '2006-2010'] #Keep "2006-2010" values
transport2 = transport2.pivot(index='geotypevalue', columns='mode', values='percent')
#transport2 = pd.pivot_table(transport2, index=['geotypevalue', 'reportyear'], columns='mode', values='percent')
transport2.columns = [x.lower() for x in transport2.columns]
transport2.reset_index(level=0, inplace=True)
print transport2.shape[0]
print transport2.publictr.isnull().sum()
transport2.head(5)

42644
2008-2010    10661
2000         10661
2005-2007    10661
2006-2010    10661
Name: reportyear, dtype: int64
6874
1393
1561
7973
1523
384

  geotypevalue  athome   bicycle   car  carpool   cartotal  publictr  walk
0        00135    11.9  1.716247  65.8      8.2  74.027460      12.4   0.0
1        00156     NaN       NaN   NaN      NaN        NaN       NaN   NaN
2        00212     6.4  0.000000  78.4     13.4  91.813220       0.5   0.0
3        00296     3.6  0.127502  70.2     19.8  89.965574       1.9   0.7
4        00310     NaN       NaN   NaN      NaN        NaN       NaN   NaN

In [10]:
#Merge onto combined HCI df
hci = pd.merge(hci, transport2, on='geotypevalue', how='outer')
print hci.shape[0]
hci.head(5)

1524

,geotypevalue,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,cartotal,publictr,walk
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0,11.9,1.716247,65.8,8.2,74.027460,12.4,0.0
1,00156,Acampo CDP,0.000000,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00212,Acton CDP,0.403765,7596,0.378,90888.0,6.4,0.000000,78.4,13.4,91.813220,0.5,0.0
3,00296,Adelanto city,0.147017,31765,0.384,43305.0,3.6,0.127502,70.2,19.8,89.965574,1.9,0.7
4,00310,Adin CDP,0.610294,272,0.369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Read in FIPS codes  and limit to codes for CA
fips = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/fips_codes.txt', sep='|',converters={1:str,2:str})
fips.columns = [x.lower() for x in fips.columns]
fips = fips[(fips.state=="CA")]
fips = fips[['placefp', 'placename', 'county']]
print fips.shape[0]
fips.head(5)

1523

  placefp           placename                 county
0   00135  Acalanes Ridge CDP    Contra Costa County
1   00156          Acampo CDP     San Joaquin County
2   00212           Acton CDP     Los Angeles County
3   00296       Adelanto city  San Bernardino County
4   00310            Adin CDP           Modoc County

In [12]:
#Merge FIPS codes onto HCI indicators
hci.rename(columns={'geotypevalue':'placefp'},inplace =True)
hci = pd.merge(hci, fips, on='placefp', how='left')

#HCI data maps cleanly to FIPS codes, except for code 99999 (state average?) - drop this observation
print hci.shape[0]
print hci[hci.placename.isnull()]
hci = hci[hci.placename.notnull()]
print hci.shape[0]
hci.head()
#Clean up place names to merge with Zillow data
hci.head()

1524
     placefp geoname  p_parkacc  pop2010  gini_index  median_hh_income  \
1523   99999     NaN   0.335702  2069734         NaN               NaN

      athome  bicycle  car  carpool  cartotal  publictr  walk placename county
1523     NaN      NaN  NaN      NaN       NaN       NaN   NaN       NaN    NaN
1523

,placefp,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,cartotal,publictr,walk,placename,county,clean_name
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0,11.9,1.716247,65.8,8.2,74.027460,12.4,0.0,Acalanes Ridge CDP,Contra Costa County,Acalanes Ridge
1,00156,Acampo CDP,0.000000,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acampo CDP,San Joaquin County,Acampo
2,00212,Acton CDP,0.403765,7596,0.378,90888.0,6.4,0.000000,78.4,13.4,91.813220,0.5,0.0,Acton CDP,Los Angeles County,Acton
3,00296,Adelanto city,0.147017,31765,0.384,43305.0,3.6,0.127502,70.2,19.8,89.965574,1.9,0.7,Adelanto city,San Bernardino County,Adelanto
4,00310,Adin CDP,0.610294,272,0.369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adin CDP,Modoc County,Adin

In [13]:
#Read in Zillow rental index
zill_rent_ind = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_ZriPerSqft_AllHomes.csv', converters={1:str})
zill_rent_ind.columns = [x.lower() for x in zill_rent_ind.columns]
zill_rent_ind.head()

,regionid,regionname,state,metro,countyname,sizerank,2010-11,2010-12,2011-01,2011-02,...,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,1.752,1.764,1.782,1.790,1.794,1.796,1.798,1.802,1.804,1.810
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,1.578,1.578,1.578,1.580,...,1.904,1.910,1.914,1.920,1.930,1.946,1.960,1.974,1.988,2.002
2,17426,Chicago,IL,Chicago,Cook,3,1.244,1.248,1.254,1.254,...,1.326,1.328,1.330,1.330,1.330,1.336,1.338,1.344,1.352,1.360
3,39051,Houston,TX,Houston,Harris,4,0.788,0.784,0.784,0.786,...,0.974,0.974,0.974,0.972,0.974,0.976,0.980,0.982,0.984,0.984
4,13271,Philadelphia,PA,Philadelphia,Philadelphia,5,0.854,0.858,0.858,0.858,...,0.934,0.932,0.932,0.930,0.930,0.934,0.936,0.942,0.948,0.954

In [22]:
#Limit to observations for CA, keep only vars of interest, and rename vars
zill_rent_ind2 = zill_rent_ind[zill_rent_ind.state == 'CA']
zill_rent_ind2 = zill_rent_ind2[['regionid', 'regionname', 'countyname', '2010-12']]
zill_rent_ind2.rename(columns={'regionname':'placename'},inplace =True)
zill_rent_ind2.rename(columns={'2010-12':'rent_sqft'},inplace =True)
zill_rent_ind2.rename(columns={'countyname':'county'},inplace =True)

#Note Zillow only has data on 737 cities, as opposed to 1523 FIPS places
print zill_rent_ind2.shape[0]
zill_rent_ind2.head()

737

    regionid      placename         county  rent_sqft
1      12447    Los Angeles    Los Angeles      1.578
8      54296      San Diego      San Diego      1.494
10     33839       San Jose    Santa Clara      1.544
12     20330  San Francisco  San Francisco      2.524
33     18203         Fresno         Fresno      0.838

In [25]:
#Clean up names before merge
hci['placename'] = hci['placename'].str.replace(' city', '')
hci['placename'] = hci['placename'].str.replace(' CDP', '')
hci['placename'] = hci['placename'].str.replace(' town', '')
hci['county'] = hci['county'].str.replace(' County', '')
hci.placename.replace('San Buenaventura (Ventura)', 'Ventura', inplace=True)
hci.placename.replace('El Paso de Robles (Paso Robles)', 'Paso Robles', inplace=True)
zill_rent_ind2.loc[zill_rent_ind2.placename == 'Westlake Village', 'county_name'] = "Los Angeles"

combined2 = pd.merge(hci, zill_rent_ind2, on=['placename', 'county'], how='inner')
combined2.head()

,placefp,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,cartotal,publictr,walk,placename,county,clean_name,regionid,rent_sqft,county_name
0,00212,Acton CDP,0.403765,7596,0.378,90888.0,6.4,0.000000,78.4,13.4,91.813220,0.5,0.0,Acton,Los Angeles,Acton,16677,1.088,NaN
1,00296,Adelanto city,0.147017,31765,0.384,43305.0,3.6,0.127502,70.2,19.8,89.965574,1.9,0.7,Adelanto,San Bernardino,Adelanto,16684,0.744,NaN
2,00394,Agoura Hills city,0.981702,20330,0.431,106886.0,6.9,0.132013,82.9,7.0,89.900990,0.6,1.1,Agoura Hills,Los Angeles,Agoura Hills,9840,1.438,NaN
3,00464,Aguanga CDP,0.531915,1128,0.398,45702.0,18.4,0.000000,58.1,15.1,73.210634,0.0,0.0,Aguanga,Riverside,Aguanga,43832,0.926,NaN
4,00478,Ahwahnee CDP,0.136687,2246,0.515,45670.0,5.9,0.000000,85.1,9.0,94.117647,0.0,0.0,Ahwahnee,Madera,Ahwahnee,3333,0.904,NaN

In [26]:
print combined2.shape[0]
print combined2.clean_name.nunique()
print combined2.placename.nunique()
print combined2.count()

683
682
682
placefp             683
geoname             683
p_parkacc           683
pop2010             683
gini_index          681
median_hh_income    661
athome              662
bicycle             662
car                 662
carpool             662
cartotal            662
publictr            662
walk                662
placename           683
county              683
clean_name          683
regionid            683
rent_sqft           679
county_name           0
dtype: int64

In [ ]:
#combined2.sortvalues()
print combined2.loc[combined2.duplicated('clean_name', keep=False)].count()
print combined2.loc[combined2.duplicated('clean_name', keep=False)]

In [ ]:
print combined2[['county_name', 'clean_name']].loc[combined2.geotypevalue.isnull()]