In [1]:
import pandas as pd

In [172]:
#Read in HCI file for Parks Access
hciurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ParkBeachOpen10_output4-12-13.xlsx'
hci = pd.read_excel(hciurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
hci.columns = [x.lower() for x in hci.columns]

In [173]:
#Overview of file
print hci.shape[0]
print hci.geotype.unique()
print hci.reportyear.unique()
hci.head()

86886
[u'CO' u'CT' u'PL' u'RE' u'ST']
[2010]

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_park_acc,pop2010,p_parkacc,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,version
0,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06001,Alameda,Alameda,06001,...,3818.0,4189,0.911435,0.902831,0.920039,0.004390,4.956508,NaN,1.235649,2013-04-12 05:45:17.545
1,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06003,Alpine,Alpine,06003,...,201.0,210,0.957143,0.929749,0.984536,0.013976,32.611226,NaN,1.297617,2013-04-12 05:45:17.545
2,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06005,Amador,Amador,06005,...,176.0,547,0.321755,0.282606,0.360904,0.019974,6.207789,NaN,0.436209,2013-04-12 05:45:17.545
3,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06007,Butte,Butte,06007,...,1843.0,3395,0.542857,0.526100,0.559615,0.008550,1.870238,NaN,0.735962,2013-04-12 05:45:17.545
4,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06009,Calaveras,Calaveras,06009,...,191.0,526,0.363118,0.322020,0.404216,0.020968,5.774480,NaN,0.492286,2013-04-12 05:45:17.545

In [174]:
#Keep data at Place level, for Total race only (Most granular level for which data is available for most indicators)
hci = hci[(hci.geotype=="PL") & (hci.race_eth_code == 9)]
#Limit to fields of interest (don't need names, get those from FIPS file below)
hci = hci[['geotypevalue','geoname', 'p_parkacc', 'pop2010']]

#Note: geotypevalue (FIPS Place code) is a unique key, but geoname is not - 
#There are instances of the same place name in multiple counties
print hci.shape[0]
print hci.geotypevalue.nunique()
print hci.geoname.nunique()

#print hci.loc[hci2.duplicated('geoname', keep=False)]
hci.head()

1524
1524
1513

      geotypevalue             geoname  p_parkacc  pop2010
85227        00135  Acalanes Ridge CDP   1.000000     1137
85228        00156          Acampo CDP   0.000000      341
85229        00212           Acton CDP   0.403765     7596
85230        00296       Adelanto city   0.147017    31765
85231        00310            Adin CDP   0.610294      272

In [5]:
#Read in HCI file for Gini Coefficient (read into temp df, then merge onto master hci df below)
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/gini_place_county_region_st3-26-14.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
temp.head()

4788
[u'CA' u'CO' u'PL' u'RE']
[u'2005-2007' u'2006-2010' u'2008-2010']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,gini_index,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,median_hh_income,median_hh_decile,version
0,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CA,06,California,NaN,NaN,...,0.468,0.465617,0.470383,0.001216,0.259787,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
1,556,Income inequality: Gini coefficient describing...,2006-2010,9,Total,CA,06,California,NaN,NaN,...,0.469,0.467809,0.470191,0.000608,0.129617,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
2,556,Income inequality: Gini coefficient describing...,2008-2010,9,Total,CA,06,California,NaN,NaN,...,0.471,0.468617,0.473383,0.001216,0.258133,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
3,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06001,Alameda,Alameda,06001,...,0.455,0.449043,0.460957,0.003040,0.668025,NaN,0.972222,66430.0,3.0,2014-03-26 09:50:34
4,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06003,Alpine,Alpine,06003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03-26 09:50:34

In [6]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
print temp.shape[0]
print temp.reportyear.value_counts()
print temp.gini_index[temp.reportyear == '2005-2007'].count()
print temp.gini_index[temp.reportyear == '2006-2010'].count()
print temp.gini_index[temp.reportyear == '2008-2010'].count()
print temp.median_hh_income[temp.reportyear == '2006-2010'].count()
#temp file has data for multiple data ranges. 2006-2010 is most complete, so we keep those observations
temp = temp[temp.reportyear == '2006-2010']
#Keep fields of interest
temp = temp[['geotypevalue', 'gini_index', 'median_hh_income']]
#temp.head()

4569
2005-2007    1523
2008-2010    1523
2006-2010    1523
Name: reportyear, dtype: int64
328
1471
341
1138

In [7]:
#Merge onto hci by place code to create combined HCI file
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
hci.head(5)

1524

,geotypevalue,geoname,p_parkacc,pop2010,gini_index,median_hh_income
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0
1,00156,Acampo CDP,0.000000,341,NaN,NaN
2,00212,Acton CDP,0.403765,7596,0.378,90888.0
3,00296,Adelanto city,0.147017,31765,0.384,43305.0
4,00310,Adin CDP,0.610294,272,0.369,NaN

In [8]:
#Read in HCI file for transport to work
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Transportation2Work_42_CT_PL_CO_RE_ST_12-12-13-revised.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

202202
[u'CA' u'CO' u'CT' u'PL' u'RE']
[u'2000' u'2005-2007' u'2006-2010' u'2008-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'mode' u'mode_name'
 u'pop_total' u'pop_mode' u'percent' u'll95ci_percent' u'ul95ci_percent'
 u'percent_se' u'percent_rse' u'ca_decile' u'ca_rr' u'version']

In [9]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue','reportyear', 'mode', 'pop_total', 'percent']]
print temp.shape[0]
print temp.reportyear.value_counts()
print temp.percent[temp.reportyear == '2000'].count()
print temp.percent[temp.reportyear == '2005-2007'].count()
print temp.percent[temp.reportyear == '2008-2010'].count()
print temp.percent[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear == '2006-2010'] #Keep "2006-2010" values
temp = temp.pivot(index='geotypevalue', columns='mode', values='percent')
#temp = pd.pivot_table(temp, index=['geotypevalue', 'reportyear'], columns='mode', values='percent')
temp.columns = [x.lower() for x in temp.columns]
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.publictr.isnull().sum()
#temp.head(5)

42644
2008-2010    10661
2000         10661
2005-2007    10661
2006-2010    10661
Name: reportyear, dtype: int64
6874
1393
1561
7973
1523
384

In [10]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.columns.values

1524
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk']

In [11]:
#Read in HCI file for Food Affordability
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/Food_afford_cdp_co_region_ca4-14-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values
temp.head(5)

14364
[u'CA' u'CO' u'PL' u'RE']
[u'2006-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'cost_yr' u'median_income'
 u'affordability_ratio' u'll95_affordability_ratio'
 u'ul95_affordability_ratio' u'se_food_afford' u'rse_food_afford'
 u'food_afford_decile' u'ca_rr_affordability' u'ave_fam_size' u'version']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,median_income,affordability_ratio,ll95_affordability_ratio,ul95_affordability_ratio,se_food_afford,rse_food_afford,food_afford_decile,ca_rr_affordability,ave_fam_size,version
0,757,Food affordability for female-headed household...,2006-2010,1,AIAN,CA,06,California,NaN,NaN,...,23777.0,0.315779,0.231517,0.400043,0.042991,13.614342,NaN,1.185347,3.34,2013-04-12 04:33:06.235
1,757,Food affordability for female-headed household...,2006-2010,2,Asian,CA,06,California,NaN,NaN,...,38508.0,0.194980,0.183065,0.206895,0.006079,3.117814,NaN,0.731900,3.34,2013-04-12 04:33:06.235
2,757,Food affordability for female-headed household...,2006-2010,3,AfricanAm,CA,06,California,NaN,NaN,...,26192.0,0.286664,0.279661,0.293666,0.003573,1.246349,NaN,1.076054,3.34,2013-04-12 04:33:06.235
3,757,Food affordability for female-headed household...,2006-2010,4,Latino,CA,06,California,NaN,NaN,...,22858.0,0.328475,0.322637,0.334314,0.002979,0.906881,NaN,1.233004,3.34,2013-04-12 04:33:06.235
4,757,Food affordability for female-headed household...,2006-2010,5,NHOPI,CA,06,California,NaN,NaN,...,36737.0,0.204379,0.173762,0.234997,0.015621,7.643255,NaN,0.767183,3.34,2013-04-12 04:33:06.235

In [12]:
#Keep Place level data for all race, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'median_income', 'affordability_ratio', 'ave_fam_size'  ]]
temp.rename(columns={'affordability_ratio':'food_afford'},inplace =True)
print temp.shape[0]
print temp.food_afford.isnull().sum()

1523
563

In [13]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.columns.values

1524
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size']

In [14]:
#Read in HCI file for Healthy Food Access
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_RetailFoodEnvironment_75_CA_CO_RE_PL_CT_11-15-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

10740
[u'CA' u'CO' u'CT' u'PL' u'RE']
[2009]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_name'
 u'race_eth_code' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'mrfei' u'll95ci' u'ul95ci'
 u'se' u'rse' u'ca_decile' u'ca_rr' u'pop00' u'version']

In [15]:
#Keep Place level data for all race, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'mrfei']]
temp.rename(columns={'mrfei':'hfood_acc'},inplace =True)
print temp.shape[0]
print temp.hfood_acc.isnull().sum()

612
5

In [16]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.columns.values

1524
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc']

In [20]:
#Read in HCI file for Jobs/Housing Ratio
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_JobHouseRatio_PL-MS-CO-768-4-24-15.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

3234
[u'CO' u'MS' u'PL']
[u'2007-2011']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'msa_name' u'msa_code' u'strata_name_code' u'strata_name'
 u'strata_level_name_code' u'strata_level_name' u'jobs' u'housing' u'ratio'
 u'll_95ci' u'ul_95ci' u'ratio_se' u'ratio_rse' u'ratio_decile' u'ms_rr'
 u'version']

In [21]:
#Keep Place level data for all race, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'strata_level_name', 'ratio']]
temp = temp.pivot(index='geotypevalue', columns='strata_level_name', values='ratio')
temp.rename(columns={'LowWageJobstoAffordableHousing':'job_house_low'},inplace =True)
temp.rename(columns={'TotalJobstoTotalHousing':'job_house_tot'},inplace =True)
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.job_house_tot.isnull().sum()
temp.head(5)

1524
97

strata_level_name geotypevalue  job_house_low  job_house_tot
0                        00135            NaN       0.095436
1                        00156            NaN       0.563380
2                        00212      21.142857       0.529794
3                        00296       0.583395       0.428894
4                        00310       0.333333       0.093458

In [23]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
19
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot']

In [26]:
#Read in HCI file for Jobs/Employed Residents Ratio
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_JobsMatch_PL-MS-CO_769_4-24-15.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

33957
[u'CO' u'MS' u'PL']
[2011]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'msa_name' u'msa_code' u'strata_name_code' u'strata_name'
 u'strata_level_name_code' u'strata_level_name' u'jobs' u'employed_res'
 u'ratio' u'll_95ci' u'ul_95ci' u'ratio_se' u'ratio_rse' u'ratio_decile'
 u'ms_rr' u'version']

In [32]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[temp.strata_level_name_code==21] #Data is stratified by industry; for now just keep total, possibly revisit
temp = temp[['geotypevalue', 'ratio']]
temp.rename(columns={'ratio':'job_match'},inplace =True)
print temp.shape[0]
print temp.job_match.isnull().sum()
temp.head(5)

1524
94

     geotypevalue  job_match
1970        00135   0.113300
1991        00156   0.201005
2012        00212   0.359886
2033        00296   0.470604
2054        00310   0.270270

In [34]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
20
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match']

In [37]:
#Read in HCI file for Unhealthy Ozone
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ozone_zcta_place_co_region_ca4-14-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

16133
[u'CA' u'CO' u'PL' u'RE' u'ZC']
[u'2007-2009']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'numerator' u'poppt'
 u'o3_unhealthy_days' u'll_95ci' u'ul_95ci' u'se' u'rse' u'ozone_decile'
 u'o3ratio_ca' u'version']

In [38]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'o3_unhealthy_days']]
temp.rename(columns={'o3_unhealthy_days':'ozone'},inplace =True)
print temp.shape[0]
print temp.ozone.isnull().sum()
temp.head(5)

1523
167

    geotypevalue      ozone
539        00135   0.664322
548        00156   5.333333
557        00212  39.357030
566        00296  25.333595
575        00310        NaN

In [40]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
21
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone']

In [169]:
#Read in HCI file for PM2.5 Concentration
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/PM25_zcta_place_co_region_ca4-14-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values
#Keep Place level data for all race, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'pm25_concentration']]
temp.rename(columns={'pm25_concentration':'pm25_conc'},inplace =True)
print temp.shape[0]
print temp.pm25_conc.isnull().sum()
temp.head(5)

16133
[u'CA' u'CO' u'PL' u'RE' u'ZC']
[u'2007-2009']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'numerator' u'poppt'
 u'pm25_concentration' u'll_95ci' u'ul_95ci' u'se' u'rse' u'pm25_decile'
 u'pm25ratio_ca' u'version']
1523
117

    geotypevalue  pm25_conc
539        00135   8.943230
548        00156  11.115626
557        00212   9.159316
566        00296   8.528040
575        00310        NaN

In [176]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1524
5
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' 'pm25_conc']

In [177]:
#Read in HCI file for HS Grad Attainment
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ed_attain_ge_hs_output04-14-13.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

75540
[u'RE' u'CO' u'PL' u'CT' u'ST']
[u'2000' u'2005-2007' u'2008-2010' u'2006-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'pop25pl_hs' u'pop25pl'
 u'p_hs_edatt' u'se' u'rse' u'll_95ci' u'ul_95ci' u'ca_decile' u'ca_rr'
 u'version']

In [185]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
print temp.p_hs_edatt[temp.reportyear == '2000'].count()
print temp.p_hs_edatt[temp.reportyear == '2005-2007'].count()
print temp.p_hs_edatt[temp.reportyear == '2008-2010'].count()
print temp.p_hs_edatt[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear == '2006-2010']
temp = temp[['geotypevalue', 'p_hs_edatt']]
print temp.shape[0]
print temp.p_hs_edatt.isnull().sum()
temp.head(5)

1038
328
341
1139
1523
384

      geotypevalue  p_hs_edatt
61706        00135        93.1
61715        00156         NaN
61724        00212        94.8
61733        00296        65.2
61742        00310         NaN

In [187]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1524
6
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' 'pm25_conc'
 u'p_hs_edatt']

In [197]:
#Read in HCI file for Living Wage
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Living_Wage_770_PL_CO_RE_CA_9-29-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

15869
[u'CA' u'CO' u'PL' u'RE']
[2010]
[u'ind_id' u'ind_definition' u'reportyear' u'family_type' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'fam_lt_lw' u'families'
 u'pct_lt_lw' u'll_95ci' u'ul_95ci' u'se' u'rse' u'family_type_decile'
 u'ca_rr' u'livingwage' u'version']

In [201]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'family_type', 'pct_lt_lw']]
temp = temp.pivot(index='geotypevalue', columns='family_type', values='pct_lt_lw')
temp.rename(columns={'MarriedCouple2Children':'livewage_s'},inplace =True)
temp.rename(columns={'SingleMother2Children':'livewage_m'},inplace =True)
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.livewage_s.isnull().sum()
temp.head(5)

1523
608

family_type geotypevalue  livewage_s  livewage_m
0                  00135         NaN         NaN
1                  00156         NaN         NaN
2                  00212    4.462933   88.333333
3                  00296   27.938945   90.762463
4                  00310         NaN         NaN

In [195]:
#Merge onto combined HCI df
hci2 = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci2.shape[0]
print hci2.shape[1]
print hci2.columns.values

1524
8
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' 'pm25_conc'
 u'p_hs_edatt' 'livewage_s' 'livewage_m']

In [196]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1524
8
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' 'pm25_conc'
 u'p_hs_edatt' 'livewage_s' 'livewage_m']

In [36]:
#print hci[['geotypevalue', 'geoname']].loc[hci.p_parkacc.isnull()]
#print hci[['geotypevalue', 'geoname']].loc[hci.job_house_tot.isnull()]

     geotypevalue                              geoname
21          01094                          Almanor CDP
209         11166                          Caribou CDP
235         12314                      Cedar Slope CDP
1269        71932                      Silver City CDP
1323        75588          Sugarloaf Mountain Park CDP
1406        81312  University of California Merced CDP
1420        81925                     Valley Wells CDP
1524        10032                                  NaN
1525        16090                                  NaN
1526        21292                                  NaN
1527        37692                                  NaN
1528        57825                                  NaN
1529        78138                                  NaN
1530        82815                                  NaN
1531        85208                                  NaN
     geotypevalue                              geoname
14          00786                       Alderpoint CDP
21          01094                          Almanor CDP
87          04730                      Bear Valley CDP
128         07172                        Bluewater CDP
150         07974                          Bradley CDP
162         08744                       Bucks Lake CDP
172         09318                    Butte Meadows CDP
181         09822           California Hot Springs CDP
189         10031                            Calwa CDP
206         10914                        Canyondam CDP
209         11166                          Caribou CDP
219         11600                          Cartago CDP
235         12314                      Cedar Slope CDP
244         12818                         Cherokee CDP
319         17204                Crestmore Heights CDP
323         17288                         Cromberg CDP
331         17727                           Cuyama CDP
344         18450                     Delft Colony CDP
394         20746                   East La Mirada CDP
411         21530                         Edgewood CDP
482         25030                     Fort Bidwell CDP
492         25506                         Franklin CDP
507         28021                    Furnace Creek CDP
514         29070                            Garey CDP
522         29644                        Glen Avon CDP
527         30339                    Gold Mountain CDP
532         30420                    Goodyears Bar CDP
539         30714                     Graniteville CDP
561         31540                           Guinda CDP
570         32156                         Hardwick CDP
...           ...                                  ...
1261        71680                         Shoshone CDP
1262        71774                    Sierra Brooks CDP
1269        71932                      Silver City CDP
1301        73612                        Spreckels CDP
1302        73654                    Spring Garden CDP
1318        75168                          Storrie CDP
1323        75588          Sugarloaf Mountain Park CDP
1324        75592               Sugarloaf Saw Mill CDP
1325        75596                Sugarloaf Village CDP
1331        76022                       Sunnyslope CDP
1335        77126                     Sunset Beach CDP
1351        78050                           Tecopa CDP
1356        78134                  Temescal Valley CDP
1373        78792                            Tobin CDP
1376        78949                       Tooleville CDP
1378        79030                            Topaz CDP
1384        80364                       Tres Pinos CDP
1387        80483                  Trinity Village CDP
1388        80515                            Trona CDP
1399        80952                            Twain CDP
1406        81312  University of California Merced CDP
1420        81925                     Valley Wells CDP
1424        82334                            Verdi CDP
1431        82814                          Vincent CDP
1439        83215              Contra Costa Centre CDP
1447        83494                    Warner Valley CDP
1483        85206                       Whitewater CDP
1493        85866                         Wilsonia CDP
1523        99999                                  NaN
1527        37692                                  NaN

[105 rows x 2 columns]

In [ ]:
# Read in FIPS codes  and limit to codes for CA
fips = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/fips_codes.txt', sep='|',converters={1:str,2:str})
fips.columns = [x.lower() for x in fips.columns]
fips = fips[(fips.state=="CA")]
fips = fips[['placefp', 'placename', 'county']]
print fips.shape[0]
fips.head(5)

In [ ]:
#Merge FIPS codes onto HCI indicators
hci.rename(columns={'geotypevalue':'placefp'},inplace =True)
hci = pd.merge(hci, fips, on='placefp', how='left')

#HCI data maps cleanly to FIPS codes, except for code 99999 (state average?) - drop this observation
print hci.shape[0]
print hci[hci.placename.isnull()]
hci = hci[hci.placename.notnull()]
print hci.shape[0]
hci.head()
#Clean up place names to merge with Zillow data
hci.head()

In [ ]:
#Read in Zillow index: Median ZRI Per Sq Ft: SFR, Condo/Co-op ($)
zri_sqft = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_ZriPerSqft_AllHomes.csv', converters={1:str})
zri_sqft.columns = [x.lower() for x in zri_sqft.columns]
#Limit to observations for CA, keep only vars of interest, and rename vars
zri_sqft = zri_sqft[zri_sqft.state == 'CA']
zri_sqft = zri_sqft[['regionid', 'regionname', 'countyname', '2010-12']]
zri_sqft.rename(columns={'2010-12':'zri_sqft'},inplace =True)
print zri_sqft.shape[0]
zri_sqft.head()

In [ ]:
#Read in Zillow index: Median Home Value Per Sq Ft ($)
hval_sqft = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_MedianValuePerSqft_AllHomes.csv', converters={1:str})
hval_sqft.columns = [x.lower() for x in hval_sqft.columns]
hval_sqft.head()
#Limit to observations for CA, keep only vars of interest, and rename vars
hval_sqft = hval_sqft[hval_sqft.state == 'CA']
hval_sqft = hval_sqft[['regionid', 'regionname', 'countyname', '2010-12']]
hval_sqft.rename(columns={'2010-12':'hval_sqft'},inplace =True)
print hval_sqft.shape[0]
hval_sqft.head()

In [ ]:
zillow = pd.merge(zri_sqft, hval_sqft, on=['regionid', 'regionname', 'countyname'], how='outer')
#zillow = pd.merge(zri_sqft, hval_sqft, on=['regionid'], how='outer')

zillow.rename(columns={'regionname':'placename'},inplace =True)
zillow.rename(columns={'countyname':'county'},inplace =True)

#Note Zillow only has data on 737 cities, as opposed to 1523 FIPS places
print zillow.shape[0]
print zillow.count()
zillow.head()
zillow.sort_values('placename', inplace=True)
print zillow[['regionid', 'placename', 'county']].loc[zillow.hval_sqft.isnull()]
print zillow[['regionid', 'placename', 'county']].loc[zillow.zri_sqft.isnull()]

In [ ]:
#Clean up names before merge
hci['placename'] = hci['placename'].str.replace(' city', '')
hci['placename'] = hci['placename'].str.replace(' CDP', '')
hci['placename'] = hci['placename'].str.replace(' town', '')
hci['county'] = hci['county'].str.replace(' County', '')
hci.placename.replace('San Buenaventura (Ventura)', 'Ventura', inplace=True)
hci.placename.replace('El Paso de Robles (Paso Robles)', 'Paso Robles', inplace=True)
hci.placename.replace('Avilla Beach', 'Avila Beach', inplace=True)
hci.placename.replace('Coultervillle', 'Coulterville', inplace=True)
hci.placename.replace('Blairsden|Graeagle', 'Blairsden-Graeagle', inplace=True, regex=True)
hci.placename.replace('St. Helena', 'Saint Helena', inplace=True)
hci.loc[hci.placename == 'Aromas', 'county'] = "Monterey"
hci.loc[hci.placename == 'Tahoma', 'county'] = "El Dorado"
zillow.loc[zillow.placename == 'Westlake Village', 'county'] = "Los Angeles"
zillow.loc[zillow.placename == 'Bradley', 'county'] = "Monterey"
zillow.loc[zillow.placename == 'Cottonwood', 'county'] = "Shasta"
zillow.loc[zillow.placename == 'Maricopa', 'county'] = "Kern"
zillow.loc[zillow.placename == 'Smartsville', 'county'] = "Yuba"
zillow.loc[zillow.placename == 'Trona', 'county'] = "Inyo"
zillow.loc[zillow.placename == 'Westwood', 'county'] = "Lassen"
zillow.placename.replace('Broadmoor Village', 'Broadmoor', inplace=True)
zillow.placename.replace('Carmel', 'Carmel-by-the-Sea', inplace=True)
zillow.placename.replace('Carmel Valley', 'Carmel Valley Village', inplace=True)
zillow.placename.replace('Hilmar', 'Hilmar-Irwin', inplace=True)
zillow.placename.replace('Idyllwild', 'Idyllwild-Pine Cove', inplace=True)
zillow.placename.replace('Lagunitas', 'Lagunitas-Forest Knolls', inplace=True)
zillow.placename.replace('Mather Air Force Base', 'Mather', inplace=True)
zillow.placename.replace('Mc Farland', 'McFarland', inplace=True)
zillow.placename.replace('Mi Wuk Village', 'Mi-Wuk Village', inplace=True)
zillow.placename.replace('Newport Coast', 'Newport Beach', inplace=True)
zillow.placename.replace('Palos Verdes Peninsula', 'Palos Verdes Estates', inplace=True)
zillow.placename.replace('South Yuba City', 'Yuba City', inplace=True)
zillow.placename.replace('Tahoe City', 'Sunnyside-Tahoe City', inplace=True)
zillow.placename.replace('The Sea Ranch', 'Sea Ranch', inplace=True)
zillow.placename.replace('Tuolumne', 'Tuolumne City', inplace=True)

fullbuild = pd.merge(hci, zillow, on=['placename', 'county'], how='outer')
fullbuild.head()

In [ ]:
print fullbuild.shape[0]
print fullbuild.placename.nunique()
print fullbuild.count()

In [ ]:
fullbuild.sort_values('placename')
print fullbuild.loc[fullbuild.duplicated(['placename', 'county'], keep=False)].count()
print fullbuild.loc[fullbuild.duplicated(['placename', 'county'], keep=False)]

In [ ]:
print fullbuild[['county', 'placename']].loc[fullbuild.placefp.isnull()]