In [1]:
import pandas as pd

In [2]:
#Read in HCI file for parks
parksurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ParkBeachOpen10_output4-12-13.xlsx'
parks = pd.read_excel(parksurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
parks.columns = [x.lower() for x in parks.columns]

In [3]:
#Overview of file
print parks.shape[0]
print parks.geotype.unique()
print parks.reportyear.unique()
parks.head()

86886
[u'CO' u'CT' u'PL' u'RE' u'ST']
[2010]

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_park_acc,pop2010,p_parkacc,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,version
0,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06001,Alameda,Alameda,06001,...,3818.0,4189,0.911435,0.902831,0.920039,0.004390,4.956508,NaN,1.235649,2013-04-12 05:45:17.545
1,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06003,Alpine,Alpine,06003,...,201.0,210,0.957143,0.929749,0.984536,0.013976,32.611226,NaN,1.297617,2013-04-12 05:45:17.545
2,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06005,Amador,Amador,06005,...,176.0,547,0.321755,0.282606,0.360904,0.019974,6.207789,NaN,0.436209,2013-04-12 05:45:17.545
3,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06007,Butte,Butte,06007,...,1843.0,3395,0.542857,0.526100,0.559615,0.008550,1.870238,NaN,0.735962,2013-04-12 05:45:17.545
4,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06009,Calaveras,Calaveras,06009,...,191.0,526,0.363118,0.322020,0.404216,0.020968,5.774480,NaN,0.492286,2013-04-12 05:45:17.545

In [4]:
#Keep data at Place level, for Total race only (Most granular level for which data is available for most indicators)
parks2 = parks[(parks.geotype=="PL") & (parks.race_eth_code == 9)]
#Limit to fields of interest (don't need names, get those from FIPS file below)
parks2 = parks2[['geotypevalue','geoname', 'p_parkacc', 'pop2010']]

#Note: geotypevalue (FIPS Place code) is a unique key, but geoname is not - 
#There are instances of the same place name in multiple counties
print parks2.shape[0]
print parks2.geotypevalue.nunique()
print parks2.geoname.nunique()

print parks2.loc[parks2.duplicated('geoname', keep=False)]
parks2.head()

1524
1524
1513
      geotypevalue            geoname  p_parkacc  pop2010
85309        04470        Bayview CDP   1.000000     1754
85310        04478        Bayview CDP   0.144223     2510
85313        04716    Bear Valley CDP   1.000000      121
85314        04730    Bear Valley CDP   0.392000      125
85507        14450   Cold Springs CDP   0.325112      446
85508        14454   Cold Springs CDP   1.000000      181
85661        22454    El Sobrante CDP   0.523404    12669
85662        22457    El Sobrante CDP   0.061778    12723
85718        25488       Franklin CDP   0.000000     6149
85719        25506       Franklin CDP   0.000000      155
85776        31092   Green Valley CDP   1.000000     1027
85777        31099   Green Valley CDP   0.067077     1625
85956        40526     Las Flores CDP   1.000000     5971
85957        40536     Las Flores CDP   0.000000      187
86435        68263     San Miguel CDP   1.000000     3392
86436        68266     San Miguel CDP   0.676798     2336
86530        73690  Spring Valley CDP   0.973965      845
86531        73696  Spring Valley CDP   0.750186    28205
86548        75315     Strawberry CDP   0.893380     5393
86549        75322     Strawberry CDP   1.000000       86

      geotypevalue             geoname  p_parkacc  pop2010
85227        00135  Acalanes Ridge CDP   1.000000     1137
85228        00156          Acampo CDP   0.000000      341
85229        00212           Acton CDP   0.403765     7596
85230        00296       Adelanto city   0.147017    31765
85231        00310            Adin CDP   0.610294      272

In [5]:
#Read in HCI file for Gini Coefficient
giniurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/gini_place_county_region_st3-26-14.xlsx'
gini = pd.read_excel(giniurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
gini.columns = [x.lower() for x in gini.columns]
print gini.shape[0]
print gini.geotype.unique()
print gini.reportyear.unique()
gini.head()

4788
[u'CA' u'CO' u'PL' u'RE']
[u'2005-2007' u'2006-2010' u'2008-2010']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,gini_index,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,median_hh_income,median_hh_decile,version
0,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CA,06,California,NaN,NaN,...,0.468,0.465617,0.470383,0.001216,0.259787,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
1,556,Income inequality: Gini coefficient describing...,2006-2010,9,Total,CA,06,California,NaN,NaN,...,0.469,0.467809,0.470191,0.000608,0.129617,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
2,556,Income inequality: Gini coefficient describing...,2008-2010,9,Total,CA,06,California,NaN,NaN,...,0.471,0.468617,0.473383,0.001216,0.258133,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
3,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06001,Alameda,Alameda,06001,...,0.455,0.449043,0.460957,0.003040,0.668025,NaN,0.972222,66430.0,3.0,2014-03-26 09:50:34
4,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06003,Alpine,Alpine,06003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03-26 09:50:34

In [6]:
gini2 = gini[(gini.geotype=="PL") & (gini.race_eth_code == 9)]
print gini2.shape[0]
print gini2.reportyear.value_counts()
print gini2.gini_index[gini2.reportyear == '2005-2007'].count()
print gini2.gini_index[gini2.reportyear == '2006-2010'].count()
print gini2.gini_index[gini2.reportyear == '2008-2010'].count()
print gini2.median_hh_income[gini2.reportyear == '2006-2010'].count()
#Gini file has data for multiple data ranges. 2006-2010 is most complete, so we keep those observations
gini2 = gini2[gini2.reportyear == '2006-2010']
#Keep fields of interest
gini2 = gini2[['geotypevalue', 'gini_index', 'median_hh_income']]
gini2.head()

4569
2005-2007    1523
2008-2010    1523
2006-2010    1523
Name: reportyear, dtype: int64
328
1471
341
1138

     geotypevalue  gini_index  median_hh_income
1700        00135       0.415          140185.0
1701        00156         NaN               NaN
1702        00212       0.378           90888.0
1703        00296       0.384           43305.0
1704        00310       0.369               NaN

In [7]:
#Merge onto Parks by place code to create combined HCI file
hci = pd.merge(parks2, gini2, on='geotypevalue', how='outer')
print hci.shape[0]
hci.head(5)

1524

,geotypevalue,geoname,p_parkacc,pop2010,gini_index,median_hh_income
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0
1,00156,Acampo CDP,0.000000,341,NaN,NaN
2,00212,Acton CDP,0.403765,7596,0.378,90888.0
3,00296,Adelanto city,0.147017,31765,0.384,43305.0
4,00310,Adin CDP,0.610294,272,0.369,NaN

In [8]:
#Read in HCI file for Transport to work
transporturl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Transportation2Work_42_CT_PL_CO_RE_ST_12-12-13-revised.xlsx'
transport = pd.read_excel(transporturl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
transport.columns = [x.lower() for x in transport.columns]
print transport.shape[0]
print transport.geotype.unique()
print transport.reportyear.unique()
transport.head(5)

202202
[u'CA' u'CO' u'CT' u'PL' u'RE']
[u'2000' u'2005-2007' u'2006-2010' u'2008-2010']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_total,pop_mode,percent,ll95ci_percent,ul95ci_percent,percent_se,percent_rse,ca_decile,ca_rr,version
0,42,Percent of residents mode of transportation to...,2000,1,AIAN,CA,06,California,NaN,NaN,...,73560.0,2414.0,3.281675,NaN,NaN,NaN,NaN,NaN,0.855733,2013-12-12 15:40:44
1,42,Percent of residents mode of transportation to...,2000,2,Asian,CA,06,California,NaN,NaN,...,1634923.0,42902.0,2.624099,NaN,NaN,NaN,NaN,NaN,0.684263,2013-12-12 15:40:44
2,42,Percent of residents mode of transportation to...,2000,3,AfricanAm,CA,06,California,NaN,NaN,...,797818.0,21348.0,2.675798,NaN,NaN,NaN,NaN,NaN,0.697744,2013-12-12 15:40:44
3,42,Percent of residents mode of transportation to...,2000,4,Latino,CA,06,California,NaN,NaN,...,3865125.0,75246.0,1.946793,NaN,NaN,NaN,NaN,NaN,0.507648,2013-12-12 15:40:44
4,42,Percent of residents mode of transportation to...,2000,5,NHOPI,CA,06,California,NaN,NaN,...,42880.0,1088.0,2.537313,NaN,NaN,NaN,NaN,NaN,0.661632,2013-12-12 15:40:44

In [9]:
transport2 = transport[(transport.geotype=="PL") & (transport.race_eth_code == 9)]
transport2 = transport2[['geotypevalue','reportyear', 'mode', 'pop_total', 'percent']]
print transport2.shape[0]
print transport2.reportyear.value_counts()
print transport2.percent[transport2.reportyear == '2000'].count()
print transport2.percent[transport2.reportyear == '2005-2007'].count()
print transport2.percent[transport2.reportyear == '2008-2010'].count()
print transport2.percent[transport2.reportyear == '2006-2010'].count()
transport2 = transport2[transport2.reportyear == '2006-2010'] #Keep "2006-2010" values
transport2 = transport2.pivot(index='geotypevalue', columns='mode', values='percent')
#transport2 = pd.pivot_table(transport2, index=['geotypevalue', 'reportyear'], columns='mode', values='percent')
transport2.columns = [x.lower() for x in transport2.columns]
transport2.reset_index(level=0, inplace=True)
print transport2.shape[0]
print transport2.publictr.isnull().sum()
transport2.head(5)

42644
2008-2010    10661
2000         10661
2005-2007    10661
2006-2010    10661
Name: reportyear, dtype: int64
6874
1393
1561
7973
1523
384

  geotypevalue  athome   bicycle   car  carpool   cartotal  publictr  walk
0        00135    11.9  1.716247  65.8      8.2  74.027460      12.4   0.0
1        00156     NaN       NaN   NaN      NaN        NaN       NaN   NaN
2        00212     6.4  0.000000  78.4     13.4  91.813220       0.5   0.0
3        00296     3.6  0.127502  70.2     19.8  89.965574       1.9   0.7
4        00310     NaN       NaN   NaN      NaN        NaN       NaN   NaN

In [10]:
#Merge onto combined HCI df
hci = pd.merge(hci, transport2, on='geotypevalue', how='outer')
print hci.shape[0]
hci.head(5)

1524

,geotypevalue,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,cartotal,publictr,walk
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0,11.9,1.716247,65.8,8.2,74.027460,12.4,0.0
1,00156,Acampo CDP,0.000000,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00212,Acton CDP,0.403765,7596,0.378,90888.0,6.4,0.000000,78.4,13.4,91.813220,0.5,0.0
3,00296,Adelanto city,0.147017,31765,0.384,43305.0,3.6,0.127502,70.2,19.8,89.965574,1.9,0.7
4,00310,Adin CDP,0.610294,272,0.369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Read in FIPS codes  and limit to codes for CA
fips = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/fips_codes.txt', sep='|',converters={1:str,2:str})
fips.columns = [x.lower() for x in fips.columns]
fips = fips[(fips.state=="CA")]
fips = fips[['placefp', 'placename', 'county']]
print fips.shape[0]
fips.head(5)

1523

  placefp           placename                 county
0   00135  Acalanes Ridge CDP    Contra Costa County
1   00156          Acampo CDP     San Joaquin County
2   00212           Acton CDP     Los Angeles County
3   00296       Adelanto city  San Bernardino County
4   00310            Adin CDP           Modoc County

In [12]:
#Merge FIPS codes onto HCI indicators
hci.rename(columns={'geotypevalue':'placefp'},inplace =True)
hci = pd.merge(hci, fips, on='placefp', how='left')

#HCI data maps cleanly to FIPS codes, except for code 99999 (state average?) - drop this observation
print hci.shape[0]
print hci[hci.placename.isnull()]
hci = hci[hci.placename.notnull()]
print hci.shape[0]
hci.head()
#Clean up place names to merge with Zillow data
hci.head()

1524
     placefp geoname  p_parkacc  pop2010  gini_index  median_hh_income  \
1523   99999     NaN   0.335702  2069734         NaN               NaN

      athome  bicycle  car  carpool  cartotal  publictr  walk placename county
1523     NaN      NaN  NaN      NaN       NaN       NaN   NaN       NaN    NaN
1523

,placefp,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,cartotal,publictr,walk,placename,county,clean_name
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0,11.9,1.716247,65.8,8.2,74.027460,12.4,0.0,Acalanes Ridge CDP,Contra Costa County,Acalanes Ridge
1,00156,Acampo CDP,0.000000,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acampo CDP,San Joaquin County,Acampo
2,00212,Acton CDP,0.403765,7596,0.378,90888.0,6.4,0.000000,78.4,13.4,91.813220,0.5,0.0,Acton CDP,Los Angeles County,Acton
3,00296,Adelanto city,0.147017,31765,0.384,43305.0,3.6,0.127502,70.2,19.8,89.965574,1.9,0.7,Adelanto city,San Bernardino County,Adelanto
4,00310,Adin CDP,0.610294,272,0.369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adin CDP,Modoc County,Adin

In [42]:
#Read in Zillow index: Median ZRI Per Sq Ft: SFR, Condo/Co-op ($)
zri_sqft = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_ZriPerSqft_AllHomes.csv', converters={1:str})
zri_sqft.columns = [x.lower() for x in zri_sqft.columns]
#Limit to observations for CA, keep only vars of interest, and rename vars
zri_sqft = zri_sqft[zri_sqft.state == 'CA']
zri_sqft = zri_sqft[['regionid', 'regionname', 'countyname', '2010-12']]
zri_sqft.rename(columns={'2010-12':'zri_sqft'},inplace =True)
print zri_sqft.shape[0]
zri_sqft.head()

737

    regionid     regionname     countyname  zri_sqft
1      12447    Los Angeles    Los Angeles     1.578
8      54296      San Diego      San Diego     1.494
10     33839       San Jose    Santa Clara     1.544
12     20330  San Francisco  San Francisco     2.524
33     18203         Fresno         Fresno     0.838

In [31]:
#Read in Zillow index: Median Home Value Per Sq Ft ($)
hval_sqft = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_MedianValuePerSqft_AllHomes.csv', converters={1:str})
hval_sqft.columns = [x.lower() for x in hval_sqft.columns]
hval_sqft.head()
#Limit to observations for CA, keep only vars of interest, and rename vars
hval_sqft = hval_sqft[hval_sqft.state == 'CA']
hval_sqft = hval_sqft[['regionid', 'regionname', 'countyname', '2010-12']]
hval_sqft.rename(columns={'2010-12':'hval_sqft'},inplace =True)
print hval_sqft.shape[0]
hval_sqft.head()

    regionid     regionname     countyname  hval_sqft
1      12447    Los Angeles    Los Angeles      270.0
7      54296      San Diego      San Diego      267.0
9      33839       San Jose    Santa Clara      320.0
11     20330  San Francisco  San Francisco      536.0
32     18203         Fresno         Fresno       92.0

In [46]:
zillow = pd.merge(zri_sqft, hval_sqft, on=['regionid', 'regionname', 'countyname'], how='outer')
#zillow = pd.merge(zri_sqft, hval_sqft, on=['regionid'], how='outer')

zillow.rename(columns={'regionname':'placename'},inplace =True)
zillow.rename(columns={'countyname':'county'},inplace =True)

#Note Zillow only has data on 737 cities, as opposed to 1523 FIPS places
print zillow.shape[0]
print zillow.count()
zillow.head()
zillow.sort_values('placename', inplace=True)
print zillow[['regionid', 'placename', 'county']].loc[zillow.hval_sqft.isnull()]
print zillow[['regionid', 'placename', 'county']].loc[zillow.zri_sqft.isnull()]

780
regionid     780
placename    780
county       780
zri_sqft     733
hval_sqft    716
dtype: int64
     regionid           placename           county
266   16684.0            Adelanto   San Bernardino
722   35001.0        Angelus Oaks   San Bernardino
592   10150.0                Anza        Riverside
557   16791.0            Arbuckle           Colusa
241   50797.0             Atwater           Merced
515  113561.0              August      San Joaquin
690   52272.0  Blairsden-Graeagle           Plumas
725   14937.0          Bridgeport             Mono
638   10649.0             Cabazon        Riverside
516   23986.0         Castroville         Monterey
640   10804.0             Chester           Plumas
731   42074.0           Coleville             Mono
471   17542.0              Colusa           Colusa
671   35059.0        Coulterville         Mariposa
621   35151.0            Crockett     Contra Costa
543  114651.0    Del Monte Forest         Monterey
406   55438.0               Delhi           Merced
714   17814.0               Doyle           Lassen
682   45025.0                Earp   San Bernardino
735   57212.0        Forest Falls   San Bernardino
600   31729.0              Gerber           Tehama
355   31854.0          Greenfield         Monterey
670   23269.0          Greenville           Plumas
581   50501.0           Groveland         Tuolumne
498   35659.0             Gustine           Merced
491    5315.0           Jamestown         Tuolumne
717   15467.0           June Lake             Mono
448    5427.0           King City         Monterey
649   21894.0           La Grange         Tuolumne
328   52842.0        Laguna Beach           Orange
..        ...                 ...              ...
665   19115.0          Lower Lake             Lake
587   32596.0             Lucerne             Lake
679    5743.0         Lytle Creek   San Bernardino
489   35858.0       Mammoth Lakes             Mono
683   19202.0            Maricopa          Ventura
429   29842.0               Mecca        Riverside
699  116571.0      Mi Wuk Village         Tuolumne
643   12710.0          Middletown             Lake
673   15874.0      Mokelumne Hill        Calaveras
628   49483.0     Mountain Center        Riverside
528   33040.0             Needles   San Bernardino
419   53568.0              Newman       Stanislaus
636   30035.0                Nice             Lake
629   16563.0        Pauma Valley        San Diego
692   53898.0           Pinecrest         Tuolumne
672   29158.0             Planada           Merced
637   26560.0            Plymouth           Amador
711    6588.0               Posey           Tulare
513   26659.0              Quincy           Plumas
545   22745.0             Shandon  San Luis Obispo
535   16389.0           Silverado           Orange
310   40955.0             Soledad         Monterey
297   20550.0              Sonora         Tuolumne
726   22866.0        Soulsbyville         Tuolumne
657   36294.0              Sutter           Sutter
574   54756.0            Tuolumne         Tuolumne
603    7504.0         Twain Harte         Tuolumne
700   48103.0          Upper Lake             Lake
713   16066.0             Volcano           Amador
565   21307.0            Williams           Colusa

[64 rows x 3 columns]
     regionid            placename           county
343   10157.0               Arcata         Humboldt
741   23523.0        Arroyo Grande  San Luis Obispo
777   30306.0          Avila Beach  San Luis Obispo
761   30417.0           Ben Lomond       Santa Cruz
772   41918.0              Bolinas            Marin
751   17128.0        Boulder Creek       Santa Cruz
744   41951.0              Brawley         Imperial
762   30642.0             Buellton    Santa Barbara
747    3980.0          Carpinteria    Santa Barbara
745   10991.0        Crescent City        Del Norte
755   28219.0               Denair       Stanislaus
770   51769.0             Dunsmuir         Siskiyou
773   24620.0                 Etna         Siskiyou
210   45191.0               Eureka         Humboldt
749   52061.0           Fort Bragg        Mendocino
775   18156.0           Fort Jones         Siskiyou
416   18173.0              Fortuna         Humboldt
742    4931.0               Goleta    Santa Barbara
769   49278.0              Gualala        Mendocino
779    8646.0            Inverness            Marin
774   39301.0             La Honda        San Mateo
752   32578.0      Los Altos Hills      Santa Clara
753   19207.0             Mariposa         Mariposa
778    9014.0              McCloud         Siskiyou
361   12654.0        McKinleyville         Humboldt
771  116639.0       Mission Canyon    Santa Barbara
766   19430.0             Montague         Siskiyou
758   39843.0            Montecito    Santa Barbara
765   32988.0         Mount Shasta         Siskiyou
750   40009.0        Newport Coast           Orange
767   42819.0           North Fork           Madera
763   26526.0          Pismo Beach  San Luis Obispo
768   26567.0  Point Reyes Station            Marin
746   40493.0        Rancho Mirage        Riverside
759   43361.0       Redwood Valley        Mendocino
754   47510.0         Saint Helena             Napa
738    6923.0      San Luis Obispo  San Luis Obispo
737   13712.0        Santa Barbara    Santa Barbara
760   26968.0           Santa Ynez    Santa Barbara
776   36421.0          Sierra City           Sierra
756   34030.0              Solvang    Santa Barbara
743   27183.0       South Pasadena      Los Angeles
740    7518.0                Ukiah        Mendocino
764    7809.0                 Weed         Siskiyou
739   41665.0      West Sacramento             Yolo
748   27960.0              Willits        Mendocino
757   55294.0                Yreka         Siskiyou

In [160]:
#Clean up names before merge
hci['placename'] = hci['placename'].str.replace(' city', '')
hci['placename'] = hci['placename'].str.replace(' CDP', '')
hci['placename'] = hci['placename'].str.replace(' town', '')
hci['county'] = hci['county'].str.replace(' County', '')
hci.placename.replace('San Buenaventura (Ventura)', 'Ventura', inplace=True)
hci.placename.replace('El Paso de Robles (Paso Robles)', 'Paso Robles', inplace=True)
hci.placename.replace('Avilla Beach', 'Avila Beach', inplace=True)
hci.placename.replace('Coultervillle', 'Coulterville', inplace=True)
hci.placename.replace('Blairsden|Graeagle', 'Blairsden-Graeagle', inplace=True, regex=True)
hci.placename.replace('St. Helena', 'Saint Helena', inplace=True)
hci.loc[hci.placename == 'Aromas', 'county'] = "Monterey"
hci.loc[hci.placename == 'Tahoma', 'county'] = "El Dorado"
zillow.loc[zillow.placename == 'Westlake Village', 'county'] = "Los Angeles"
zillow.loc[zillow.placename == 'Bradley', 'county'] = "Monterey"
zillow.loc[zillow.placename == 'Cottonwood', 'county'] = "Shasta"
zillow.loc[zillow.placename == 'Maricopa', 'county'] = "Kern"
zillow.loc[zillow.placename == 'Smartsville', 'county'] = "Yuba"
zillow.loc[zillow.placename == 'Trona', 'county'] = "Inyo"
zillow.loc[zillow.placename == 'Westwood', 'county'] = "Lassen"
zillow.placename.replace('Broadmoor Village', 'Broadmoor', inplace=True)
zillow.placename.replace('Carmel', 'Carmel-by-the-Sea', inplace=True)
zillow.placename.replace('Carmel Valley', 'Carmel Valley Village', inplace=True)
zillow.placename.replace('Hilmar', 'Hilmar-Irwin', inplace=True)
zillow.placename.replace('Idyllwild', 'Idyllwild-Pine Cove', inplace=True)
zillow.placename.replace('Lagunitas', 'Lagunitas-Forest Knolls', inplace=True)
zillow.placename.replace('Mather Air Force Base', 'Mather', inplace=True)
zillow.placename.replace('Mc Farland', 'McFarland', inplace=True)
zillow.placename.replace('Mi Wuk Village', 'Mi-Wuk Village', inplace=True)
zillow.placename.replace('Newport Coast', 'Newport Beach', inplace=True)
zillow.placename.replace('Palos Verdes Peninsula', 'Palos Verdes Estates', inplace=True)
zillow.placename.replace('South Yuba City', 'Yuba City', inplace=True)
zillow.placename.replace('Tahoe City', 'Sunnyside-Tahoe City', inplace=True)
zillow.placename.replace('The Sea Ranch', 'Sea Ranch', inplace=True)
zillow.placename.replace('Tuolumne', 'Tuolumne City', inplace=True)

fullbuild = pd.merge(hci, zillow, on=['placename', 'county'], how='outer')
fullbuild.head()

,placefp,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,...,publictr,walk,placename,county,clean_name,county_name_x,regionid,zri_sqft,hval_sqft,county_name_y
0,00135,Acalanes Ridge CDP,1.000000,1137.0,0.415,140185.0,11.9,1.716247,65.8,8.2,...,12.4,0.0,Acalanes Ridge,Contra Costa,Acalanes Ridge,NaN,NaN,NaN,NaN,NaN
1,00156,Acampo CDP,0.000000,341.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Acampo,San Joaquin,Acampo,NaN,NaN,NaN,NaN,NaN
2,00212,Acton CDP,0.403765,7596.0,0.378,90888.0,6.4,0.000000,78.4,13.4,...,0.5,0.0,Acton,Los Angeles,Acton,NaN,16677.0,1.088,189.0,NaN
3,00296,Adelanto city,0.147017,31765.0,0.384,43305.0,3.6,0.127502,70.2,19.8,...,1.9,0.7,Adelanto,San Bernardino,Adelanto,NaN,16684.0,0.744,NaN,NaN
4,00310,Adin CDP,0.610294,272.0,0.369,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Adin,Modoc,Adin,NaN,NaN,NaN,NaN,NaN

In [161]:
print fullbuild.shape[0]
print fullbuild.clean_name.nunique()
print fullbuild.placename.nunique()
print fullbuild.count()

1558
1506
1537
placefp             1526
geoname             1526
p_parkacc           1519
pop2010             1526
gini_index          1474
median_hh_income    1141
athome              1142
bicycle             1142
car                 1142
carpool             1142
cartotal            1142
publictr            1142
walk                1142
placename           1558
county              1558
clean_name          1526
county_name_x          1
regionid             780
zri_sqft             733
hval_sqft            716
county_name_y          1
dtype: int64

In [127]:
#fullbuild.sortvalues()
#print fullbuild.loc[fullbuild.duplicated('clean_name', keep=False)].count()
#print fullbuild.loc[fullbuild.duplicated('clean_name', keep=False)]

In [162]:
print fullbuild[['county', 'placename']].loc[fullbuild.placefp.isnull()]

              county           placename
1526  San Bernardino        Angelus Oaks
1527          Sonoma           Annapolis
1528          Placer           Applegate
1529          Plumas  Blairsden-Graeagle
1530            Yuba       Browns Valley
1531  San Bernardino          Cedar Glen
1532       El Dorado                Cool
1533  San Bernardino                Earp
1534       El Dorado           El Dorado
1535  San Bernardino            Fawnskin
1536  San Bernardino        Forest Falls
1537  San Bernardino   Green Valley Lake
1538       Mendocino             Gualala
1539  San Bernardino           Helendale
1540          Placer            Homewood
1541        Tuolumne           La Grange
1542  San Bernardino             Landers
1543     Los Angeles               Llano
1544  San Bernardino    Newberry Springs
1545          Madera          North Fork
1546       San Diego        Pauma Valley
1547     Los Angeles         Pearblossom
1548        Tuolumne           Pinecrest
1549          Fresno             Prather
1550       El Dorado              Rescue
1551       San Diego        Santa Ysabel
1552          Orange           Silverado
1553      Sacramento         Sloughhouse
1554         Ventura               Somis
1555  San Bernardino           Sugarloaf
1556          Fresno           Tollhouse
1557  San Bernardino          Twin Peaks