In [1]:
import pandas as pd

In [2]:
#Read in HCI file for Parks Access
hciurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ParkBeachOpen10_output4-12-13.xlsx'
hci = pd.read_excel(hciurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
hci.columns = [x.lower() for x in hci.columns]

In [3]:
#Overview of file
print hci.shape[0]
print hci.geotype.unique()
print hci.reportyear.unique()
hci.head()

86886
[u'CO' u'CT' u'PL' u'RE' u'ST']
[2010]

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_park_acc,pop2010,p_parkacc,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,version
0,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06001,Alameda,Alameda,06001,...,3818.0,4189,0.911435,0.902831,0.920039,0.004390,4.956508,NaN,1.235649,2013-04-12 05:45:17.545
1,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06003,Alpine,Alpine,06003,...,201.0,210,0.957143,0.929749,0.984536,0.013976,32.611226,NaN,1.297617,2013-04-12 05:45:17.545
2,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06005,Amador,Amador,06005,...,176.0,547,0.321755,0.282606,0.360904,0.019974,6.207789,NaN,0.436209,2013-04-12 05:45:17.545
3,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06007,Butte,Butte,06007,...,1843.0,3395,0.542857,0.526100,0.559615,0.008550,1.870238,NaN,0.735962,2013-04-12 05:45:17.545
4,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06009,Calaveras,Calaveras,06009,...,191.0,526,0.363118,0.322020,0.404216,0.020968,5.774480,NaN,0.492286,2013-04-12 05:45:17.545

In [4]:
#Keep data at Place level, for Total race only (Most granular level for which data is available for most indicators)
hci = hci[(hci.geotype=="PL") & (hci.race_eth_code == 9)]
#Limit to fields of interest (don't need names, get those from FIPS file below)
hci = hci[['geotypevalue','geoname', 'p_parkacc', 'pop2010']]

#Note: geotypevalue (FIPS Place code) is a unique key, but geoname is not - 
#There are instances of the same place name in multiple counties
print hci.shape[0]
print hci.geotypevalue.nunique()
print hci.geoname.nunique()

#print hci.loc[hci2.duplicated('geoname', keep=False)]
hci.head()

1524
1524
1513

      geotypevalue             geoname  p_parkacc  pop2010
85227        00135  Acalanes Ridge CDP   1.000000     1137
85228        00156          Acampo CDP   0.000000      341
85229        00212           Acton CDP   0.403765     7596
85230        00296       Adelanto city   0.147017    31765
85231        00310            Adin CDP   0.610294      272

In [5]:
#Read in HCI file for Gini Coefficient (read into temp df, then merge onto master hci df below)
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/gini_place_county_region_st3-26-14.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
temp.head()

4788
[u'CA' u'CO' u'PL' u'RE']
[u'2005-2007' u'2006-2010' u'2008-2010']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,gini_index,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,median_hh_income,median_hh_decile,version
0,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CA,06,California,NaN,NaN,...,0.468,0.465617,0.470383,0.001216,0.259787,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
1,556,Income inequality: Gini coefficient describing...,2006-2010,9,Total,CA,06,California,NaN,NaN,...,0.469,0.467809,0.470191,0.000608,0.129617,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
2,556,Income inequality: Gini coefficient describing...,2008-2010,9,Total,CA,06,California,NaN,NaN,...,0.471,0.468617,0.473383,0.001216,0.258133,NaN,NaN,NaN,NaN,2014-03-26 09:50:34
3,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06001,Alameda,Alameda,06001,...,0.455,0.449043,0.460957,0.003040,0.668025,NaN,0.972222,66430.0,3.0,2014-03-26 09:50:34
4,556,Income inequality: Gini coefficient describing...,2005-2007,9,Total,CO,06003,Alpine,Alpine,06003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-03-26 09:50:34

In [6]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
print temp.shape[0]
print temp.reportyear.value_counts()
print temp.gini_index[temp.reportyear == '2005-2007'].count()
print temp.gini_index[temp.reportyear == '2006-2010'].count()
print temp.gini_index[temp.reportyear == '2008-2010'].count()
print temp.median_hh_income[temp.reportyear == '2006-2010'].count()
#temp file has data for multiple data ranges. 2006-2010 is most complete, so we keep those observations
temp = temp[temp.reportyear == '2006-2010']
#Keep fields of interest
temp = temp[['geotypevalue', 'gini_index', 'median_hh_income']]
#temp.head()

4569
2005-2007    1523
2008-2010    1523
2006-2010    1523
Name: reportyear, dtype: int64
328
1471
341
1138

In [7]:
#Merge onto hci by place code to create combined HCI file
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
hci.head(5)

1524

,geotypevalue,geoname,p_parkacc,pop2010,gini_index,median_hh_income
0,00135,Acalanes Ridge CDP,1.000000,1137,0.415,140185.0
1,00156,Acampo CDP,0.000000,341,NaN,NaN
2,00212,Acton CDP,0.403765,7596,0.378,90888.0
3,00296,Adelanto city,0.147017,31765,0.384,43305.0
4,00310,Adin CDP,0.610294,272,0.369,NaN

In [8]:
#Read in HCI file for transport to work
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Transportation2Work_42_CT_PL_CO_RE_ST_12-12-13-revised.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

202202
[u'CA' u'CO' u'CT' u'PL' u'RE']
[u'2000' u'2005-2007' u'2006-2010' u'2008-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'mode' u'mode_name'
 u'pop_total' u'pop_mode' u'percent' u'll95ci_percent' u'ul95ci_percent'
 u'percent_se' u'percent_rse' u'ca_decile' u'ca_rr' u'version']

In [9]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue','reportyear', 'mode', 'pop_total', 'percent']]
print temp.shape[0]
print temp.reportyear.value_counts()
print temp.percent[temp.reportyear == '2000'].count()
print temp.percent[temp.reportyear == '2005-2007'].count()
print temp.percent[temp.reportyear == '2008-2010'].count()
print temp.percent[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear == '2006-2010'] #Keep "2006-2010" values
temp = temp.pivot(index='geotypevalue', columns='mode', values='percent')
#temp = pd.pivot_table(temp, index=['geotypevalue', 'reportyear'], columns='mode', values='percent')
temp.columns = [x.lower() for x in temp.columns]
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.publictr.isnull().sum()
#temp.head(5)

42644
2008-2010    10661
2000         10661
2005-2007    10661
2006-2010    10661
Name: reportyear, dtype: int64
6874
1393
1561
7973
1523
384

In [10]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.columns.values

1524
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk']

In [11]:
#Read in HCI file for Food Affordability
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/Food_afford_cdp_co_region_ca4-14-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values
temp.head(5)

14364
[u'CA' u'CO' u'PL' u'RE']
[u'2006-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'cost_yr' u'median_income'
 u'affordability_ratio' u'll95_affordability_ratio'
 u'ul95_affordability_ratio' u'se_food_afford' u'rse_food_afford'
 u'food_afford_decile' u'ca_rr_affordability' u'ave_fam_size' u'version']

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,median_income,affordability_ratio,ll95_affordability_ratio,ul95_affordability_ratio,se_food_afford,rse_food_afford,food_afford_decile,ca_rr_affordability,ave_fam_size,version
0,757,Food affordability for female-headed household...,2006-2010,1,AIAN,CA,06,California,NaN,NaN,...,23777.0,0.315779,0.231517,0.400043,0.042991,13.614342,NaN,1.185347,3.34,2013-04-12 04:33:06.235
1,757,Food affordability for female-headed household...,2006-2010,2,Asian,CA,06,California,NaN,NaN,...,38508.0,0.194980,0.183065,0.206895,0.006079,3.117814,NaN,0.731900,3.34,2013-04-12 04:33:06.235
2,757,Food affordability for female-headed household...,2006-2010,3,AfricanAm,CA,06,California,NaN,NaN,...,26192.0,0.286664,0.279661,0.293666,0.003573,1.246349,NaN,1.076054,3.34,2013-04-12 04:33:06.235
3,757,Food affordability for female-headed household...,2006-2010,4,Latino,CA,06,California,NaN,NaN,...,22858.0,0.328475,0.322637,0.334314,0.002979,0.906881,NaN,1.233004,3.34,2013-04-12 04:33:06.235
4,757,Food affordability for female-headed household...,2006-2010,5,NHOPI,CA,06,California,NaN,NaN,...,36737.0,0.204379,0.173762,0.234997,0.015621,7.643255,NaN,0.767183,3.34,2013-04-12 04:33:06.235

In [12]:
#Keep Place level data for all race, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'median_income', 'affordability_ratio', 'ave_fam_size'  ]]
temp.rename(columns={'affordability_ratio':'food_afford'},inplace =True)
print temp.shape[0]
print temp.food_afford.isnull().sum()

1523
563

In [13]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.columns.values

1524
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size']

In [14]:
#Read in HCI file for Healthy Food Access
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_RetailFoodEnvironment_75_CA_CO_RE_PL_CT_11-15-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

10740
[u'CA' u'CO' u'CT' u'PL' u'RE']
[2009]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_name'
 u'race_eth_code' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'mrfei' u'll95ci' u'ul95ci'
 u'se' u'rse' u'ca_decile' u'ca_rr' u'pop00' u'version']

In [15]:
#Keep Place level data for all race, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'mrfei']]
temp.rename(columns={'mrfei':'hfood_acc'},inplace =True)
print temp.shape[0]
print temp.hfood_acc.isnull().sum()

612
5

In [16]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.columns.values

1524
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc']

In [17]:
#Read in HCI file for Jobs/Housing Ratio
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_JobHouseRatio_PL-MS-CO-768-4-24-15.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

3234
[u'CO' u'MS' u'PL']
[u'2007-2011']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'msa_name' u'msa_code' u'strata_name_code' u'strata_name'
 u'strata_level_name_code' u'strata_level_name' u'jobs' u'housing' u'ratio'
 u'll_95ci' u'ul_95ci' u'ratio_se' u'ratio_rse' u'ratio_decile' u'ms_rr'
 u'version']

In [18]:
#Keep Place level data for all race, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'strata_level_name', 'ratio']]
temp = temp.pivot(index='geotypevalue', columns='strata_level_name', values='ratio')
temp.rename(columns={'LowWageJobstoAffordableHousing':'job_house_low'},inplace =True)
temp.rename(columns={'TotalJobstoTotalHousing':'job_house_tot'},inplace =True)
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.job_house_tot.isnull().sum()
temp.head(5)

1524
97

strata_level_name geotypevalue  job_house_low  job_house_tot
0                        00135            NaN       0.095436
1                        00156            NaN       0.563380
2                        00212      21.142857       0.529794
3                        00296       0.583395       0.428894
4                        00310       0.333333       0.093458

In [19]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
19
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot']

In [20]:
#Read in HCI file for Jobs/Employed Residents Ratio
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_JobsMatch_PL-MS-CO_769_4-24-15.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

33957
[u'CO' u'MS' u'PL']
[2011]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'msa_name' u'msa_code' u'strata_name_code' u'strata_name'
 u'strata_level_name_code' u'strata_level_name' u'jobs' u'employed_res'
 u'ratio' u'll_95ci' u'ul_95ci' u'ratio_se' u'ratio_rse' u'ratio_decile'
 u'ms_rr' u'version']

In [21]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[temp.strata_level_name_code==21] #Data is stratified by industry; for now just keep total, possibly revisit
temp = temp[['geotypevalue', 'ratio']]
temp.rename(columns={'ratio':'job_match'},inplace =True)
print temp.shape[0]
print temp.job_match.isnull().sum()
temp.head(5)

1524
94

     geotypevalue  job_match
1970        00135   0.113300
1991        00156   0.201005
2012        00212   0.359886
2033        00296   0.470604
2054        00310   0.270270

In [22]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
20
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match']

In [23]:
#Read in HCI file for Unhealthy Ozone
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ozone_zcta_place_co_region_ca4-14-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

16133
[u'CA' u'CO' u'PL' u'RE' u'ZC']
[u'2007-2009']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'numerator' u'poppt'
 u'o3_unhealthy_days' u'll_95ci' u'ul_95ci' u'se' u'rse' u'ozone_decile'
 u'o3ratio_ca' u'version']

In [24]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'o3_unhealthy_days']]
temp.rename(columns={'o3_unhealthy_days':'ozone'},inplace =True)
print temp.shape[0]
print temp.ozone.isnull().sum()
temp.head(5)

1523
167

    geotypevalue      ozone
539        00135   0.664322
548        00156   5.333333
557        00212  39.357030
566        00296  25.333595
575        00310        NaN

In [25]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
21
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone']

In [26]:
#Read in HCI file for PM2.5 Concentration
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/PM25_zcta_place_co_region_ca4-14-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values
#Keep Place level data for all race, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'pm25_concentration']]
temp.rename(columns={'pm25_concentration':'pm25_conc'},inplace =True)
print temp.shape[0]
print temp.pm25_conc.isnull().sum()
temp.head(5)

16133
[u'CA' u'CO' u'PL' u'RE' u'ZC']
[u'2007-2009']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'numerator' u'poppt'
 u'pm25_concentration' u'll_95ci' u'ul_95ci' u'se' u'rse' u'pm25_decile'
 u'pm25ratio_ca' u'version']
1523
117

    geotypevalue  pm25_conc
539        00135   8.943230
548        00156  11.115626
557        00212   9.159316
566        00296   8.528040
575        00310        NaN

In [27]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
22
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc']

In [28]:
#Read in HCI file for HS Grad Attainment
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ed_attain_ge_hs_output04-14-13.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

75540
[u'RE' u'CO' u'PL' u'CT' u'ST']
[u'2000' u'2005-2007' u'2008-2010' u'2006-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'pop25pl_hs' u'pop25pl'
 u'p_hs_edatt' u'se' u'rse' u'll_95ci' u'ul_95ci' u'ca_decile' u'ca_rr'
 u'version']

In [29]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
print temp.p_hs_edatt[temp.reportyear == '2000'].count()
print temp.p_hs_edatt[temp.reportyear == '2005-2007'].count()
print temp.p_hs_edatt[temp.reportyear == '2008-2010'].count()
print temp.p_hs_edatt[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear == '2006-2010']
temp = temp[['geotypevalue', 'p_hs_edatt']]
print temp.shape[0]
print temp.p_hs_edatt.isnull().sum()
temp.head(5)

1038
328
341
1139
1523
384

      geotypevalue  p_hs_edatt
61706        00135        93.1
61715        00156         NaN
61724        00212        94.8
61733        00296        65.2
61742        00310         NaN

In [30]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
23
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt']

In [31]:
#Read in HCI file for Living Wage
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Living_Wage_770_PL_CO_RE_CA_9-29-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

15869
[u'CA' u'CO' u'PL' u'RE']
[2010]
[u'ind_id' u'ind_definition' u'reportyear' u'family_type' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'fam_lt_lw' u'families'
 u'pct_lt_lw' u'll_95ci' u'ul_95ci' u'se' u'rse' u'family_type_decile'
 u'ca_rr' u'livingwage' u'version']

In [32]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'family_type', 'pct_lt_lw']]
temp = temp.pivot(index='geotypevalue', columns='family_type', values='pct_lt_lw')
temp.rename(columns={'MarriedCouple2Children':'livewage_s'},inplace =True)
temp.rename(columns={'SingleMother2Children':'livewage_m'},inplace =True)
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.livewage_s.isnull().sum()
temp.head(5)

1523
608

family_type geotypevalue  livewage_s  livewage_m
0                  00135         NaN         NaN
1                  00156         NaN         NaN
2                  00212    4.462933   88.333333
3                  00296   27.938945   90.762463
4                  00310         NaN         NaN

In [33]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
25
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m']

In [34]:
#Read in HCI file for Poverty Rate
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_PovertyRate_754_CT_PL_CO_RE_CA_1-22-14.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

136242
[u'CA' u'CO' u'CT' u'PL' u'RE']
[u'2000' u'2005-2007' u'2006-2010' u'2008-2010']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'poverty' u'totalpop'
 u'numpov' u'percent' u'll_95ci_percent' u'ul_95ci_percent' u'percent_se'
 u'percent_rse' u'place_decile' u'ca_rr' u'concentratedct' u'version']

In [35]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'reportyear', 'poverty', 'percent']]
#temp = temp.pivot(index='geotypevalue', columns='poverty', values='percent')
temp = pd.pivot_table(temp, index=['geotypevalue', 'reportyear'], columns='poverty', values='percent')
temp.rename(columns={'Child':'poverty_child'},inplace =True)
temp.rename(columns={'Concentrated':'poverty_conc'},inplace =True)
temp.rename(columns={'Overall':'poverty_all'},inplace =True)
temp.reset_index(level=0, inplace=True)
temp.reset_index(level=0, inplace=True)
print temp.poverty_all[temp.reportyear == '2000'].count()
print temp.poverty_all[temp.reportyear == '2005-2007'].count()
print temp.poverty_all[temp.reportyear == '2008-2010'].count()
print temp.poverty_all[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear=="2006-2010"]
del temp['reportyear']
print temp.shape[0]
print temp.poverty_all.isnull().sum()
temp.head(5)

982
328
341
1139
1153
14

poverty geotypevalue  poverty_child  poverty_conc  poverty_all
0              00135            0.0           NaN          0.0
2              00212           14.1      0.000000          6.3
5              00296           33.0     47.242514         25.6
9              00394            5.6      0.000000          4.0
11             00450            3.2      0.000000          4.4

In [36]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
28
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all']

In [37]:
#Read in HCI file for Unemployment Rate
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Unemployment_290_CA_RE_CO_CD_PL_CT-5-22-14.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

106410
[u'CA' u'CD' u'CO' u'CT' u'PL' u'RE']
[u'2004' u'2005' u'2006' u'2006-2010' u'2007' u'2008' u'2009' u'2010'
 u'2011' u'2012' u'2013']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_code' u'region_name' u'unemployment'
 u'labor_force' u'unemployment_rate' u'll_95ci' u'ul_95ci' u'se' u'rse'
 u'place_decile' u'ca_rr' u'version']

In [38]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'reportyear', 'unemployment_rate']]
temp.rename(columns={'unemployment_rate':'unemp_rate'},inplace =True)
print temp.unemp_rate[temp.reportyear == '2004'].count()
print temp.unemp_rate[temp.reportyear == '2005'].count()
print temp.unemp_rate[temp.reportyear == '2006'].count()
print temp.unemp_rate[temp.reportyear == '2007'].count()
print temp.unemp_rate[temp.reportyear == '2008'].count()
print temp.unemp_rate[temp.reportyear == '2009'].count()
print temp.unemp_rate[temp.reportyear == '2010'].count()
print temp.unemp_rate[temp.reportyear == '2011'].count()
print temp.unemp_rate[temp.reportyear == '2012'].count()
print temp.unemp_rate[temp.reportyear == '2013'].count()
print temp.unemp_rate[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear=="2006-2010"]
del temp['reportyear']
print temp.shape[0]
print temp.unemp_rate.isnull().sum()
temp.head(5)

268
268
268
268
268
268
271
271
271
271
1139
1523
384

      geotypevalue  unemp_rate
77217        00135         5.7
77236        00156         NaN
77255        00212         6.3
77274        00296        19.7
77293        00310         NaN

In [39]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
29
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate']

In [40]:
#Read in HCI file for Daycare Centers
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Licensed_Daycare_Centers_760_CA_RE_CO_CD_PL_CT_110215.xlsx'
temp = pd.read_excel(tempurl, sheetname=1, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

20100
[u'CA' u'CD' u'CO' u'CT' u'PL' u'RE']
[2015]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_name' u'region_code' u'strata_name_code'
 u'strata_name' u'strata_level_name_code' u'strata_level_name'
 u'facility_capacity' u'total_pop' u'rate_slots' u'll_95ci' u'ul_95ci'
 u'se' u'rse' u'ca_decile' u'ca_rr' u'no_facility' u'pct_nonwhite'
 u'version']

In [41]:
#Keep Place level data for all race, explore years available, limit to fields of interest, reshape data
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'strata_level_name', 'rate_slots']]
temp = temp.pivot(index='geotypevalue', columns='strata_level_name', values='rate_slots')
temp.rename(columns={'DAY CARE CENTER':'day_care'},inplace =True)
temp.rename(columns={'INFANT CENTER':'inf_care'},inplace =True)
temp.reset_index(level=0, inplace=True)
print temp.shape[0]
print temp.day_care.isnull().sum()
temp.head(5)

1523
863

strata_level_name geotypevalue   day_care  inf_care
0                        00135        NaN       NaN
1                        00156        NaN       NaN
2                        00212        NaN       NaN
3                        00296  12.991976       NaN
4                        00310        NaN       NaN

In [42]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
31
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care']

In [43]:
#Read in HCI file for Violent Crime
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_Crime_752_PL_CO_RE_CA_2000-2013_21OCT15.xlsx'
temp = pd.read_excel(tempurl, sheetname=1, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

49226
[u'CA' u'CO' u'PL' u'RE']
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_code' u'region_name' u'strata_name_code'
 u'strata_name' u'strata_level_name_code' u'strata_level_name' u'numerator'
 u'denominator' u'rate' u'll_95ci' u'ul_95ci' u'se' u'rse' u'ca_decile'
 u'ca_rr' u'dof_population' u'version']

In [44]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)] 
temp = temp[temp.strata_level_name_code == 5] #Data is stratified by crime type, but for now just keep total, possibly revisit
print temp.numerator[temp.reportyear == 2000].count()
print temp.numerator[temp.reportyear == 2001].count()
print temp.numerator[temp.reportyear == 2002].count()
print temp.numerator[temp.reportyear == 2003].count()
print temp.numerator[temp.reportyear == 2004].count()
print temp.numerator[temp.reportyear == 2005].count()
print temp.numerator[temp.reportyear == 2006].count()
print temp.numerator[temp.reportyear == 2007].count()
print temp.numerator[temp.reportyear == 2008].count()
print temp.numerator[temp.reportyear == 2009].count()
print temp.numerator[temp.reportyear == 2010].count()
print temp.numerator[temp.reportyear == 2011].count()
print temp.numerator[temp.reportyear == 2012].count()
print temp.numerator[temp.reportyear == 2013].count()
temp = temp[temp.reportyear == 2010]
temp = temp[['geotypevalue', 'rate']]
temp.rename(columns={'rate':'violent_crime'},inplace =True)
print temp.shape[0]
temp.drop_duplicates('geotypevalue', keep=False, inplace=True) #4 place codes are duplicated, unclear why, drop
print temp.shape[0]
temp.head(5)

447
451
445
452
453
447
451
449
451
456
458
451
452
454
485
477

      geotypevalue  violent_crime
34212        00296       7.618448
34218        00394       0.885391
34227        00562       2.343792
34233        00674       1.995793
34240        00884       2.226528

In [45]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
32
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime']

In [46]:
#Read in HCI file for Child Abuse/Neglect
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_AbuseNeglectChildren_741_CT_PL_CO_RE_CA-24-4-15.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

24259
[u'CA' u'CD' u'CO' u'CT' nan u'PL' u'RE']
[2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_code' u'region_name' u'strata_name_code'
 u'strata_name' u'strata_level_name_code' u'strata_level_name'
 u'allegations_children' u'total_children' u'percent' u'll_95ci' u'ul_95ci'
 u'se' u'rse' u'ca_decile' u'ca_rr' u'version']

In [47]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)] 
temp = temp[['geotypevalue', 'percent']]
temp.rename(columns={'percent':'child_abuse'},inplace =True)
print temp.shape[0]
print temp.child_abuse.isnull().sum()
temp.head(5)

1524
872

      geotypevalue  child_abuse
20033        00135          NaN
20034        00156          NaN
20035        00212     3.652597
20036        00296     9.090909
20037        00310          NaN

In [48]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
33
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse']

In [49]:
#Read in HCI file for Voter Participation
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_RegisteredVoters_653_CA_CO_RE_PL_CT_5-1-14.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

96530
[u'CA' u'CO' u'CT' u'PL' u'RE']
[2002 2004 2006 2008 2010]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_code' u'region_name' u'type' u'numerator'
 u'denominator' u'percent' u'll_95ci' u'ul_95ci' u'se' u'rse' u'ca_decile'
 u'ca_rr' u'vap' u'version']

In [50]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9) & (temp.type == 'voted/registered')] #Revisit to estimate registered voter percent?
print temp.percent[temp.reportyear == 2002].count()
print temp.percent[temp.reportyear == 2004].count()
print temp.percent[temp.reportyear == 2006].count()
print temp.percent[temp.reportyear == 2008].count()
print temp.percent[temp.reportyear == 2010].count()
temp = temp[temp.reportyear == 2010]
temp = temp[['geotypevalue', 'percent']]
temp.rename(columns={'percent':'voted'},inplace =True)
print temp.shape[0]
print temp.voted.isnull().sum()
temp.head(5)

1449
1483
1507
1508
1512
1523
11

      geotypevalue      voted
81169        00135  74.252137
81179        00156  58.823529
81189        00212  64.504576
81199        00296  41.300000
81209        00310  73.611111

In [51]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
34
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted']

In [52]:
#Read in HCI file for Unsafe Drinking Water (pt 1)
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_DrinkingWater_CA_RE_CO_CD_PL_CT-A-N-6-19-14.xlsx' 
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
#Read in HCI file for Unsafe Drinking Water (pt 2)
temp2url = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_DrinkingWater_CA_RE_CO_CD_PL_CT-O-Y-6-19-14.xlsx'
temp2 = pd.read_excel(temp2url, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp = temp.append(temp2)
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

542700
[u'CA' u'CD' u'CO' u'CT' u'PL' u'RE']
[u'2008-2012']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_code' u'region_name' u'category' u'numerator'
 u'denominator' u'percent' u'll_95ci' u'ul_95ci' u'se' u'rse' u'ca_decile'
 u'ca_rr' u'tot_pop' u'coverage' u'version']

In [53]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9) & (temp.category == 'total')] #Stratified by violation type, but just keep total. Revisit?
temp = temp[['geotypevalue', 'percent']]
temp.rename(columns={'percent':'bad_water'},inplace =True)
print temp.shape[0]
print temp.bad_water.isnull().sum()
temp.head(5)

1523
364

       geotypevalue  bad_water
218908        00135        0.0
218962        00212        0.0
219016        00310        NaN
219070        00394        0.0
219124        00450        0.0

In [54]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1532
35
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted' 'bad_water']

In [55]:
#Read in HCI file for Public Transit Access (pt 1)
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/RailFerryBus10_SCAG_Output9-5-13.xls'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
print temp.shape[0]
print temp.reportyear.unique()
print temp.columns.values
#Read in HCI file for Public Transit Access (pt 2)
temp2url = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/RailFerryBus10_SANDAG_Output8-29-13.xls'
temp2 = pd.read_excel(temp2url, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
print temp2.shape[0]
print temp2.reportyear.unique()
print temp2.columns.values
#Read in HCI file for Public Transit Access (pt 3)
temp3url = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/RailFerryBus10_MTC_Output_11-15-13.xls'
temp3 = pd.read_excel(temp3url, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
print temp3.shape[0]
print temp3.reportyear.unique()
print temp3.columns.values
#Read in HCI file for Public Transit Access (pt 4)
temp4url = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/RailFerryBus10_SACOG_Output-11-26-13.xls'
temp4 = pd.read_excel(temp4url, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
print temp4.shape[0]
print temp4.reportyear.unique()
print temp4.columns.values


temp = temp.append(temp2)
temp = temp.append(temp3)
temp = temp.append(temp4)
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

38835
[2012]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'pop_trans_acc' u'pop2010'
 u'p_trans_acc' u'LL_95CI' u'UL_95CI' u'se' u'rse' u'SC_decile' u'SC_RR'
 u'version']
6138
[2012]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'pop_trans_acc' u'pop2010'
 u'p_trans_acc' u'LL_95CI' u'UL_95CI' u'se' u'rse' u'SD_decile' u'SD_RR'
 u'version']
16371
[2012]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'pop_trans_acc' u'pop2010'
 u'p_trans_acc' u'LL_95CI' u'UL_95CI' u'se' u'rse' u'MTC_decile' u'MTC_RR'
 u'version']
4662
[2008]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'pop_trans_acc' u'pop2010'
 u'p_trans_acc' u'LL_95CI' u'UL_95CI' u'se' u'rse' u'SAC_decile' u'SAC_RR'
 u'version']
66006
[u'CO' u'CT' u'PL' u'RE']
[2012 2008]
[u'll_95ci' u'mtc_rr' u'mtc_decile' u'sac_rr' u'sac_decile' u'sc_rr'
 u'sc_decile' u'sd_rr' u'sd_decile' u'ul_95ci' u'county_fips'
 u'county_name' u'geoname' u'geotype' u'geotypevalue' u'ind_definition'
 u'ind_id' u'p_trans_acc' u'pop2010' u'pop_trans_acc' u'race_eth_code'
 u'race_eth_name' u'region_code' u'region_name' u'reportyear' u'rse' u'se'
 u'version']

In [56]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
temp = temp[['geotypevalue', 'p_trans_acc']]
#temp.rename(columns={'percent':'bad_water'},inplace =True)
print temp.shape[0]
print temp.p_trans_acc.isnull().sum()
temp.head(5)

697
0

      geotypevalue  p_trans_acc
38474        00212          0.0
38475        00296          0.0
38476        00394          0.0
38477        00450          0.0
38478        00464          0.0

In [57]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1533
36
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted' 'bad_water' u'p_trans_acc']

In [58]:
#Read in HCI file for Traffic Injuries (pt 1)
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_RoadTrafficInjuries_753_CT_PL_CO_RE_R4_CA-12-17-13_A-N.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
#Read in HCI file for Traffic Injuries (pt 2)
temp2url = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_RoadTrafficInjuries_753_CT_PL_CO_12-17-13_O-Y.xlsx'
temp2 = pd.read_excel(temp2url, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp = temp.append(temp2)
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

448948
[u'CA' u'CT' u'PL' u'R4' u'RE' u'CO']
[u'2002' u'2002-2004' u'2003' u'2004' u'2005' u'2005-2007' u'2006'
 u'2006-2010' u'2007' u'2008' u'2008-2010' u'2009' u'2010']
[u'ind_id' u'ind_definition' u'reportyear' u'geotype' u'geotypevalue'
 u'geoname' u'county_name' u'county_fips' u'region_name' u'region_code'
 u'mode' u'severity' u'injuries' u'totalpop' u'poprate' u'll95ci_poprate'
 u'ul95ci_poprate' u'poprate_se' u'poprate_rse' u'ca_decile_pop'
 u'ca_rr_poprate' u'avmttotal' u'avmtrate' u'll95ci_avmtrate'
 u'ul95ci_avmtrate' u'avmtrate_se' u'avmtrate_rse' u'ca_decile_avmt'
 u'ca_rr_avmtrate' u'groupquarters' u'version']

In [59]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp['mode'] == 'All modes')] #Stratified by mode, just keep total for now. Revisit?
print temp.shape[0]

temp = pd.pivot_table(temp, index=['geotypevalue', 'reportyear'], columns='severity', values='poprate')
temp.head()
temp.reset_index(level=0, inplace=True)
temp.reset_index(level=0, inplace=True)
print temp.Killed[temp.reportyear == '2002'].count()
print temp.Killed[temp.reportyear == '2003'].count()
print temp.Killed[temp.reportyear == '2004'].count()
print temp.Killed[temp.reportyear == '2005'].count()
print temp.Killed[temp.reportyear == '2006'].count()
print temp.Killed[temp.reportyear == '2007'].count()
print temp.Killed[temp.reportyear == '2008'].count()
print temp.Killed[temp.reportyear == '2009'].count()
print temp.Killed[temp.reportyear == '2010'].count()
print temp.Killed[temp.reportyear == '2002-2004'].count()
print temp.Killed[temp.reportyear == '2005-2007'].count()
print temp.Killed[temp.reportyear == '2008-2010'].count()
print temp.Killed[temp.reportyear == '2006-2010'].count()
temp = temp[temp.reportyear == '2006-2010']
temp.rename(columns={'Killed':'traf_fatal'},inplace =True)
temp.rename(columns={'Severe Injury':'traf_sev'},inplace =True)
del temp['reportyear']
print temp.shape[0]
print temp.traf_fatal.isnull().sum()
temp.head(5)

19945
301
343
311
321
333
312
303
301
293
402
397
386
874
1222
348

severity geotypevalue  traf_fatal    traf_sev
0               00135         NaN   24.813896
8               00156  800.000000         NaN
16              00212   41.958042   81.118881
29              00296   11.861536   17.133330
37              00310   53.475936  106.951872

In [60]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1533
38
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted' 'bad_water' u'p_trans_acc'
 'traf_fatal' 'traf_sev']

In [61]:
#Read in HCI file for Alcohol Proximity (pt 1)
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_AlcoholOutletsQ_774_CA_RE_CO_CD_PL_CT-A-N-5-16-14.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
#Read in HCI file for Alcohol Proximity (pt 2)
temp2url = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_AlcoholOutletsQ_774_CO_CD_PL_CT-O-Y-5-16-14.xlsx'
temp2 = pd.read_excel(temp2url, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp = temp.append(temp2)
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

271350
[u'CA' u'CD' u'CO' u'CT' u'PL' u'RE']
[2014]
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_fips'
 u'county_name' u'region_code' u'region_name' u'license_type' u'numerator'
 u'denominator' u'percent' u'll_95ci' u'ul_95ci' u'se' u'rse' u'ca_decile'
 u'ca_rr' u'version']

In [62]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)]
print temp.shape[0]

temp = temp.pivot(index='geotypevalue', columns='license_type', values='percent')
temp.head()
temp.reset_index(level=0, inplace=True)
temp.rename(columns={'Off_sale':'alc_off'},inplace =True)
temp.rename(columns={'On_sale':'alc_on'},inplace =True)
temp.rename(columns={'Total_licenses':'alc_tot'},inplace =True)
print temp.shape[0]
print temp.alc_tot.isnull().sum()
temp.head(5)

4569
1523
242

license_type geotypevalue    alc_off    alc_on    alc_tot
0                   00135        NaN  8.707124   8.707124
1                   00156  62.463343       NaN  62.463343
2                   00212   5.516061  4.805161   6.977357
3                   00296  12.135999  3.988667  13.093027
4                   00310        NaN       NaN        NaN

In [63]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1533
41
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted' 'bad_water' u'p_trans_acc'
 'traf_fatal' 'traf_sev' 'alc_off' 'alc_on' 'alc_tot']

In [64]:
#Read in HCI file for Household Type
tempurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/HCI_HouseholdType_746_CARECOCDPLCT_Alameda-Monterey_24APR15.xlsx'
temp = pd.read_excel(tempurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
temp.columns = [x.lower() for x in temp.columns]
print temp.shape[0]
print temp.geotype.unique()
print temp.reportyear.unique()
print temp.columns.values

453456
[u'CA' u'CD' u'CO' u'CT' u'PL' u'RE']
[u'2005-2007' u'2006-2010' u'2008-2010' u'2011-2013']
[u'ind_id' u'ind_definition' u'reportyear' u'race_eth_code'
 u'race_eth_name' u'geotype' u'geotypevalue' u'geoname' u'county_name'
 u'county_fips' u'region_name' u'region_code' u'strata_name_code'
 u'strata_name' u'strata_level_name_code' u'strata_level_name'
 u'households' u'total_households' u'households_percent' u'll95ci_percent'
 u'ul95ci_percent' u'percent_se' u'percent_rse' u'ca_decile' u'ca_rr'
 u'version']

In [65]:
#Keep Place level data for all race, explore years available, limit to fields of interest
temp = temp[(temp.geotype=="PL") & (temp.race_eth_code == 9)] #Stratified by mode, just keep total for now. Revisit?
print temp.shape[0]

temp = pd.pivot_table(temp, index=['geotypevalue', 'reportyear'], columns='strata_level_name', values='households_percent')
temp.reset_index(level=0, inplace=True)
temp.reset_index(level=0, inplace=True)
temp.rename(columns={'Female householder, no husband present':'hh_f'},inplace =True)
temp.rename(columns={'Female householder, no husband present, with own children under 18 years':'hh_f_child'},inplace =True)
temp.rename(columns={'Male householder, no wife present':'hh_m'},inplace =True)
temp.rename(columns={'Male householder, no wife present, with own children under 18 years':'hh_m_child'},inplace =True)
temp.rename(columns={'Married couple':'hh_married'},inplace =True)
temp.rename(columns={'Married couple with own children under 18 years':'hh_married_child'},inplace =True)
temp.rename(columns={'Nonfamily households':'hh_nonfam'},inplace =True)
temp.rename(columns={'Nonfamily households with householder living alone':'hh_nonfam_solo'},inplace =True)

print temp.hh_f[temp.reportyear == '2005-2007'].count()
print temp.hh_f[temp.reportyear == '2008-2010'].count()
print temp.hh_f[temp.reportyear == '2006-2010'].count()
print temp.hh_f[temp.reportyear == '2011-2013'].count()
temp = temp[temp.reportyear == '2006-2010']
del temp['reportyear']
print temp.shape[0]
print temp.hh_f.isnull().sum()
temp.head(5)

48736
328
341
1139
347
1523
384

strata_level_name,geotypevalue,hh_f,hh_f_child,hh_m,hh_m_child,hh_married,hh_married_child,hh_nonfam,hh_nonfam_solo
1,00135,3.1,3.1,0.0,0.0,71.3,42.2,25.6,22.1
5,00156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,00212,7.1,2.5,1.1,0.0,73.6,31.5,18.2,13.4
13,00296,26.3,19.4,6.4,4.7,51.1,34.4,16.3,12.2
17,00310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
#Merge onto combined HCI df
hci2 = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci2.shape[0]
print hci2.shape[1]
print hci2.columns.values

1533
49
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted' 'bad_water' u'p_trans_acc'
 'traf_fatal' 'traf_sev' 'alc_off' 'alc_on' 'alc_tot' 'hh_f' 'hh_f_child'
 'hh_m' 'hh_m_child' 'hh_married' 'hh_married_child' 'hh_nonfam'
 'hh_nonfam_solo']

In [67]:
#Merge onto combined HCI df
hci = pd.merge(hci, temp, on='geotypevalue', how='outer')
print hci.shape[0]
print hci.shape[1]
print hci.columns.values

1533
49
[u'geotypevalue' u'geoname' u'p_parkacc' u'pop2010' u'gini_index'
 u'median_hh_income' u'athome' u'bicycle' u'car' u'carpool' u'cartotal'
 u'publictr' u'walk' u'median_income' 'food_afford' u'ave_fam_size'
 'hfood_acc' 'job_house_low' 'job_house_tot' 'job_match' 'ozone'
 'pm25_conc' u'p_hs_edatt' 'livewage_s' 'livewage_m' 'poverty_child'
 'poverty_conc' 'poverty_all' 'unemp_rate' 'day_care' 'inf_care'
 'violent_crime' 'child_abuse' 'voted' 'bad_water' u'p_trans_acc'
 'traf_fatal' 'traf_sev' 'alc_off' 'alc_on' 'alc_tot' 'hh_f' 'hh_f_child'
 'hh_m' 'hh_m_child' 'hh_married' 'hh_married_child' 'hh_nonfam'
 'hh_nonfam_solo']

In [68]:
#print hci[['geotypevalue', 'geoname']].loc[hci.p_parkacc.isnull()]
#print hci[['geotypevalue', 'geoname']].loc[hci.job_house_tot.isnull()]

In [69]:
# Read in FIPS codes  and limit to codes for CA
fips = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/fips_codes.txt', sep='|',converters={1:str,2:str})
fips.columns = [x.lower() for x in fips.columns]
fips = fips[(fips.state=="CA")]
fips = fips[['placefp', 'placename', 'county']]
print fips.shape[0]
fips.head(5)

1523

  placefp           placename                 county
0   00135  Acalanes Ridge CDP    Contra Costa County
1   00156          Acampo CDP     San Joaquin County
2   00212           Acton CDP     Los Angeles County
3   00296       Adelanto city  San Bernardino County
4   00310            Adin CDP           Modoc County

In [70]:
#Merge FIPS codes onto HCI indicators
hci.rename(columns={'geotypevalue':'placefp'},inplace =True)

hci = pd.merge(hci, fips, on='placefp', how='outer')

#HCI data maps cleanly to FIPS codes, except for code 99999 (state average?) - drop this observation
print hci.shape[0]
print hci[hci.placename.isnull()].count()
hci = hci[hci.placename.notnull()] #Some HCI files have a few place codes that don't show up in the master FIPS file. Drop these
print hci.shape[0]
hci.head()

1533
placefp             10
geoname              0
p_parkacc            2
pop2010              2
gini_index           0
median_hh_income     0
athome               0
bicycle              0
car                  0
carpool              0
cartotal             0
publictr             0
walk                 0
median_income        0
food_afford          0
ave_fam_size         0
hfood_acc            0
job_house_low        7
job_house_tot        7
job_match            8
ozone                0
pm25_conc            0
p_hs_edatt           0
livewage_s           0
livewage_m           0
poverty_child        0
poverty_conc         0
poverty_all          0
unemp_rate           0
day_care             0
inf_care             0
violent_crime        0
child_abuse          2
voted                0
bad_water            0
p_trans_acc          2
traf_fatal           0
traf_sev             0
alc_off              0
alc_on               0
alc_tot              0
hh_f                 0
hh_f_child           0
hh_m                 0
hh_m_child           0
hh_married           0
hh_married_child     0
hh_nonfam            0
hh_nonfam_solo       0
placename            0
county               0
dtype: int64
1523

,placefp,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,...,hh_f,hh_f_child,hh_m,hh_m_child,hh_married,hh_married_child,hh_nonfam,hh_nonfam_solo,placename,county
0,00135,Acalanes Ridge CDP,1.000000,1137.0,0.415,140185.0,11.9,1.716247,65.8,8.2,...,3.1,3.1,0.0,0.0,71.3,42.2,25.6,22.1,Acalanes Ridge CDP,Contra Costa County
1,00156,Acampo CDP,0.000000,341.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acampo CDP,San Joaquin County
2,00212,Acton CDP,0.403765,7596.0,0.378,90888.0,6.4,0.000000,78.4,13.4,...,7.1,2.5,1.1,0.0,73.6,31.5,18.2,13.4,Acton CDP,Los Angeles County
3,00296,Adelanto city,0.147017,31765.0,0.384,43305.0,3.6,0.127502,70.2,19.8,...,26.3,19.4,6.4,4.7,51.1,34.4,16.3,12.2,Adelanto city,San Bernardino County
4,00310,Adin CDP,0.610294,272.0,0.369,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adin CDP,Modoc County

In [71]:
#Read in Zillow index: Median ZRI Per Sq Ft: SFR, Condo/Co-op ($)
zri_sqft = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_ZriPerSqft_AllHomes.csv', converters={1:str})
zri_sqft.columns = [x.lower() for x in zri_sqft.columns]
#Limit to observations for CA, keep only vars of interest, and rename vars
zri_sqft = zri_sqft[zri_sqft.state == 'CA']
zri_sqft = zri_sqft[['regionid', 'regionname', 'countyname', '2010-12']]
zri_sqft.rename(columns={'2010-12':'zri_sqft'},inplace =True)
print zri_sqft.shape[0]
zri_sqft.head()

737

    regionid     regionname     countyname  zri_sqft
1      12447    Los Angeles    Los Angeles     1.578
8      54296      San Diego      San Diego     1.494
10     33839       San Jose    Santa Clara     1.544
12     20330  San Francisco  San Francisco     2.524
33     18203         Fresno         Fresno     0.838

In [72]:
#Read in Zillow index: Median Home Value Per Sq Ft ($)
hval_sqft = pd.read_csv('https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/City_MedianValuePerSqft_AllHomes.csv', converters={1:str})
hval_sqft.columns = [x.lower() for x in hval_sqft.columns]
hval_sqft.head()
#Limit to observations for CA, keep only vars of interest, and rename vars
hval_sqft = hval_sqft[hval_sqft.state == 'CA']
hval_sqft = hval_sqft[['regionid', 'regionname', 'countyname', '2010-12']]
hval_sqft.rename(columns={'2010-12':'hval_sqft'},inplace =True)
print hval_sqft.shape[0]
hval_sqft.head()

717

    regionid     regionname     countyname  hval_sqft
1      12447    Los Angeles    Los Angeles      270.0
7      54296      San Diego      San Diego      267.0
9      33839       San Jose    Santa Clara      320.0
11     20330  San Francisco  San Francisco      536.0
32     18203         Fresno         Fresno       92.0

In [73]:
zillow = pd.merge(zri_sqft, hval_sqft, on=['regionid', 'regionname', 'countyname'], how='outer')
#zillow = pd.merge(zri_sqft, hval_sqft, on=['regionid'], how='outer')

zillow.rename(columns={'regionname':'placename'},inplace =True)
zillow.rename(columns={'countyname':'county'},inplace =True)

#Note Zillow only has data on 737 cities, as opposed to 1523 FIPS places
print zillow.shape[0]
print zillow.count()
zillow.head()
zillow.sort_values('placename', inplace=True)
print zillow[['regionid', 'placename', 'county']].loc[zillow.hval_sqft.isnull()]
print zillow[['regionid', 'placename', 'county']].loc[zillow.zri_sqft.isnull()]

780
regionid     780
placename    780
county       780
zri_sqft     733
hval_sqft    716
dtype: int64
     regionid           placename           county
266   16684.0            Adelanto   San Bernardino
722   35001.0        Angelus Oaks   San Bernardino
592   10150.0                Anza        Riverside
557   16791.0            Arbuckle           Colusa
241   50797.0             Atwater           Merced
515  113561.0              August      San Joaquin
690   52272.0  Blairsden-Graeagle           Plumas
725   14937.0          Bridgeport             Mono
638   10649.0             Cabazon        Riverside
516   23986.0         Castroville         Monterey
640   10804.0             Chester           Plumas
731   42074.0           Coleville             Mono
471   17542.0              Colusa           Colusa
671   35059.0        Coulterville         Mariposa
621   35151.0            Crockett     Contra Costa
543  114651.0    Del Monte Forest         Monterey
406   55438.0               Delhi           Merced
714   17814.0               Doyle           Lassen
682   45025.0                Earp   San Bernardino
735   57212.0        Forest Falls   San Bernardino
600   31729.0              Gerber           Tehama
355   31854.0          Greenfield         Monterey
670   23269.0          Greenville           Plumas
581   50501.0           Groveland         Tuolumne
498   35659.0             Gustine           Merced
491    5315.0           Jamestown         Tuolumne
717   15467.0           June Lake             Mono
448    5427.0           King City         Monterey
649   21894.0           La Grange         Tuolumne
328   52842.0        Laguna Beach           Orange
..        ...                 ...              ...
665   19115.0          Lower Lake             Lake
587   32596.0             Lucerne             Lake
679    5743.0         Lytle Creek   San Bernardino
489   35858.0       Mammoth Lakes             Mono
683   19202.0            Maricopa          Ventura
429   29842.0               Mecca        Riverside
699  116571.0      Mi Wuk Village         Tuolumne
643   12710.0          Middletown             Lake
673   15874.0      Mokelumne Hill        Calaveras
628   49483.0     Mountain Center        Riverside
528   33040.0             Needles   San Bernardino
419   53568.0              Newman       Stanislaus
636   30035.0                Nice             Lake
629   16563.0        Pauma Valley        San Diego
692   53898.0           Pinecrest         Tuolumne
672   29158.0             Planada           Merced
637   26560.0            Plymouth           Amador
711    6588.0               Posey           Tulare
513   26659.0              Quincy           Plumas
545   22745.0             Shandon  San Luis Obispo
535   16389.0           Silverado           Orange
310   40955.0             Soledad         Monterey
297   20550.0              Sonora         Tuolumne
726   22866.0        Soulsbyville         Tuolumne
657   36294.0              Sutter           Sutter
574   54756.0            Tuolumne         Tuolumne
603    7504.0         Twain Harte         Tuolumne
700   48103.0          Upper Lake             Lake
713   16066.0             Volcano           Amador
565   21307.0            Williams           Colusa

[64 rows x 3 columns]
     regionid            placename           county
343   10157.0               Arcata         Humboldt
741   23523.0        Arroyo Grande  San Luis Obispo
777   30306.0          Avila Beach  San Luis Obispo
761   30417.0           Ben Lomond       Santa Cruz
772   41918.0              Bolinas            Marin
751   17128.0        Boulder Creek       Santa Cruz
744   41951.0              Brawley         Imperial
762   30642.0             Buellton    Santa Barbara
747    3980.0          Carpinteria    Santa Barbara
745   10991.0        Crescent City        Del Norte
755   28219.0               Denair       Stanislaus
770   51769.0             Dunsmuir         Siskiyou
773   24620.0                 Etna         Siskiyou
210   45191.0               Eureka         Humboldt
749   52061.0           Fort Bragg        Mendocino
775   18156.0           Fort Jones         Siskiyou
416   18173.0              Fortuna         Humboldt
742    4931.0               Goleta    Santa Barbara
769   49278.0              Gualala        Mendocino
779    8646.0            Inverness            Marin
774   39301.0             La Honda        San Mateo
752   32578.0      Los Altos Hills      Santa Clara
753   19207.0             Mariposa         Mariposa
778    9014.0              McCloud         Siskiyou
361   12654.0        McKinleyville         Humboldt
771  116639.0       Mission Canyon    Santa Barbara
766   19430.0             Montague         Siskiyou
758   39843.0            Montecito    Santa Barbara
765   32988.0         Mount Shasta         Siskiyou
750   40009.0        Newport Coast           Orange
767   42819.0           North Fork           Madera
763   26526.0          Pismo Beach  San Luis Obispo
768   26567.0  Point Reyes Station            Marin
746   40493.0        Rancho Mirage        Riverside
759   43361.0       Redwood Valley        Mendocino
754   47510.0         Saint Helena             Napa
738    6923.0      San Luis Obispo  San Luis Obispo
737   13712.0        Santa Barbara    Santa Barbara
760   26968.0           Santa Ynez    Santa Barbara
776   36421.0          Sierra City           Sierra
756   34030.0              Solvang    Santa Barbara
743   27183.0       South Pasadena      Los Angeles
740    7518.0                Ukiah        Mendocino
764    7809.0                 Weed         Siskiyou
739   41665.0      West Sacramento             Yolo
748   27960.0              Willits        Mendocino
757   55294.0                Yreka         Siskiyou

In [74]:
#Clean up names before merge
hci['placename'] = hci['placename'].str.replace(' city', '')
hci['placename'] = hci['placename'].str.replace(' CDP', '')
hci['placename'] = hci['placename'].str.replace(' town', '')
hci['county'] = hci['county'].str.replace(' County', '')
hci.placename.replace('San Buenaventura (Ventura)', 'Ventura', inplace=True)
hci.placename.replace('El Paso de Robles (Paso Robles)', 'Paso Robles', inplace=True)
hci.placename.replace('Avilla Beach', 'Avila Beach', inplace=True)
hci.placename.replace('Coultervillle', 'Coulterville', inplace=True)
hci.placename.replace('Blairsden|Graeagle', 'Blairsden-Graeagle', inplace=True, regex=True)
hci.placename.replace('St. Helena', 'Saint Helena', inplace=True)
hci.loc[hci.placename == 'Aromas', 'county'] = "Monterey"
hci.loc[hci.placename == 'Tahoma', 'county'] = "El Dorado"
zillow.loc[zillow.placename == 'Westlake Village', 'county'] = "Los Angeles"
zillow.loc[zillow.placename == 'Bradley', 'county'] = "Monterey"
zillow.loc[zillow.placename == 'Cottonwood', 'county'] = "Shasta"
zillow.loc[zillow.placename == 'Maricopa', 'county'] = "Kern"
zillow.loc[zillow.placename == 'Smartsville', 'county'] = "Yuba"
zillow.loc[zillow.placename == 'Trona', 'county'] = "Inyo"
zillow.loc[zillow.placename == 'Westwood', 'county'] = "Lassen"
zillow.placename.replace('Broadmoor Village', 'Broadmoor', inplace=True)
zillow.placename.replace('Carmel', 'Carmel-by-the-Sea', inplace=True)
zillow.placename.replace('Carmel Valley', 'Carmel Valley Village', inplace=True)
zillow.placename.replace('Hilmar', 'Hilmar-Irwin', inplace=True)
zillow.placename.replace('Idyllwild', 'Idyllwild-Pine Cove', inplace=True)
zillow.placename.replace('Lagunitas', 'Lagunitas-Forest Knolls', inplace=True)
zillow.placename.replace('Mather Air Force Base', 'Mather', inplace=True)
zillow.placename.replace('Mc Farland', 'McFarland', inplace=True)
zillow.placename.replace('Mi Wuk Village', 'Mi-Wuk Village', inplace=True)
zillow.placename.replace('Newport Coast', 'Newport Beach', inplace=True)
zillow.placename.replace('Palos Verdes Peninsula', 'Palos Verdes Estates', inplace=True)
zillow.placename.replace('South Yuba City', 'Yuba City', inplace=True)
zillow.placename.replace('Tahoe City', 'Sunnyside-Tahoe City', inplace=True)
zillow.placename.replace('The Sea Ranch', 'Sea Ranch', inplace=True)
zillow.placename.replace('Tuolumne', 'Tuolumne City', inplace=True)

fullbuild = pd.merge(hci, zillow, on=['placename', 'county'], how='inner')
fullbuild.head()

,placefp,geoname,p_parkacc,pop2010,gini_index,median_hh_income,athome,bicycle,car,carpool,...,hh_m_child,hh_married,hh_married_child,hh_nonfam,hh_nonfam_solo,placename,county,regionid,zri_sqft,hval_sqft
0,00212,Acton CDP,0.403765,7596.0,0.378,90888.0,6.4,0.000000,78.4,13.4,...,0.0,73.6,31.5,18.2,13.4,Acton,Los Angeles,16677.0,1.088,189.0
1,00296,Adelanto city,0.147017,31765.0,0.384,43305.0,3.6,0.127502,70.2,19.8,...,4.7,51.1,34.4,16.3,12.2,Adelanto,San Bernardino,16684.0,0.744,NaN
2,00394,Agoura Hills city,0.981702,20330.0,0.431,106886.0,6.9,0.132013,82.9,7.0,...,0.9,66.4,31.2,23.2,19.2,Agoura Hills,Los Angeles,9840.0,1.438,274.0
3,00464,Aguanga CDP,0.531915,1128.0,0.398,45702.0,18.4,0.000000,58.1,15.1,...,3.6,66.5,33.3,26.1,22.9,Aguanga,Riverside,43832.0,0.926,119.0
4,00478,Ahwahnee CDP,0.136687,2246.0,0.515,45670.0,5.9,0.000000,85.1,9.0,...,1.0,66.2,20.3,31.3,29.6,Ahwahnee,Madera,3333.0,0.904,131.0

In [75]:
print fullbuild.shape[0]
print fullbuild.placename.nunique()
print fullbuild.placefp.nunique()
print fullbuild.count()

750
745
747
placefp             750
geoname             750
p_parkacc           750
pop2010             750
gini_index          746
median_hh_income    719
athome              720
bicycle             720
car                 720
carpool             720
cartotal            720
publictr            720
walk                720
median_income       669
food_afford         669
ave_fam_size        731
hfood_acc           507
job_house_low       722
job_house_tot       739
job_match           739
ozone               719
pm25_conc           725
p_hs_edatt          720
livewage_s          678
livewage_m          664
poverty_child       720
poverty_conc        547
poverty_all         720
unemp_rate          720
day_care            533
inf_care            351
violent_crime       441
child_abuse         508
voted               750
bad_water           684
p_trans_acc         461
traf_fatal          608
traf_sev            720
alc_off             727
alc_on              719
alc_tot             738
hh_f                720
hh_f_child          720
hh_m                720
hh_m_child          720
hh_married          720
hh_married_child    720
hh_nonfam           720
hh_nonfam_solo      720
placename           750
county              750
regionid            750
zri_sqft            705
hval_sqft           692
dtype: int64

In [76]:
fullbuild.sort_values('placename')
print fullbuild.loc[fullbuild.duplicated(['placename', 'county'], keep=False)].count()
print fullbuild.loc[fullbuild.duplicated(['placename', 'county'], keep=False)]

placefp             8
geoname             8
p_parkacc           8
pop2010             8
gini_index          7
median_hh_income    6
athome              6
bicycle             6
car                 6
carpool             6
cartotal            6
publictr            6
walk                6
median_income       6
food_afford         6
ave_fam_size        7
hfood_acc           6
job_house_low       6
job_house_tot       8
job_match           8
ozone               6
pm25_conc           8
p_hs_edatt          6
livewage_s          6
livewage_m          6
poverty_child       6
poverty_conc        6
poverty_all         6
unemp_rate          6
day_care            6
inf_care            4
violent_crime       6
child_abuse         4
voted               8
bad_water           8
p_trans_acc         4
traf_fatal          5
traf_sev            7
alc_off             6
alc_on              8
alc_tot             8
hh_f                6
hh_f_child          6
hh_m                6
hh_m_child          6
hh_married          6
hh_married_child    6
hh_nonfam           6
hh_nonfam_solo      6
placename           8
county              8
regionid            8
zri_sqft            7
hval_sqft           6
dtype: int64
    placefp                    geoname  p_parkacc  pop2010  gini_index  \
66    06994              Blairsden CDP   1.000000     39.0         NaN
67    30560               Graeagle CDP   0.578019    737.0       0.367
458   51182         Newport Beach city   0.922816  85186.0       0.543
459   51182         Newport Beach city   0.922816  85186.0       0.543
496   55380  Palos Verdes Estates city   1.000000  13438.0       0.491
497   55380  Palos Verdes Estates city   1.000000  13438.0       0.491
746   86972             Yuba City city   0.804097  64925.0       0.416
747   86972             Yuba City city   0.804097  64925.0       0.416

     median_hh_income  athome   bicycle   car  carpool    ...      hh_m_child  \
66                NaN     NaN       NaN   NaN      NaN    ...             NaN
67                NaN     NaN       NaN   NaN      NaN    ...             NaN
458          107007.0     8.5  0.978263  81.9      4.7    ...             1.1
459          107007.0     8.5  0.978263  81.9      4.7    ...             1.1
496          163542.0     8.4  1.282542  82.7      5.9    ...             0.2
497          163542.0     8.4  1.282542  82.7      5.9    ...             0.2
746           49500.0     3.4  0.244508  76.2     15.3    ...             2.2
747           49500.0     3.4  0.244508  76.2     15.3    ...             2.2

     hh_married  hh_married_child  hh_nonfam  hh_nonfam_solo  \
66          NaN               NaN        NaN             NaN
67          NaN               NaN        NaN             NaN
458        44.8              16.5       46.7            34.6
459        44.8              16.5       46.7            34.6
496        75.3              31.2       17.5            15.2
497        75.3              31.2       17.5            15.2
746        54.1              27.6       27.3            21.9
747        54.1              27.6       27.3            21.9

                placename       county  regionid  zri_sqft  hval_sqft
66     Blairsden-Graeagle       Plumas   52272.0     0.910        NaN
67     Blairsden-Graeagle       Plumas   52272.0     0.910        NaN
458         Newport Beach       Orange   53571.0     2.250      536.0
459         Newport Beach       Orange   40009.0       NaN      488.0
496  Palos Verdes Estates  Los Angeles   33311.0     2.294      534.0
497  Palos Verdes Estates  Los Angeles   33312.0     1.992      460.0
746             Yuba City       Sutter  118227.0     0.770       93.0
747             Yuba City       Sutter   34940.0     0.790       96.0

[8 rows x 54 columns]

In [77]:
print fullbuild[['county', 'placename']].loc[fullbuild.placefp.isnull()]

Empty DataFrame
Columns: [county, placename]
Index: []