In [1]:
import pandas as pd

In [2]:
parksurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/ParkBeachOpen10_output4-12-13.xlsx'
parks = pd.read_excel(parksurl, sheetname=0, converters={'geotypevalue':str,'county_fips':str})
#parks = pd.read_excel('H:\data_science\CA_Housing\Raw_Data\ParkBeachOpen10_output4-12-13.xlsx', sheetname='ParkBeachOpen10_CA_Output')

In [3]:
parks.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,pop_park_acc,pop2010,p_parkacc,LL_95CI,UL_95CI,se,rse,CA_decile,CA_RR,version
0,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06001,Alameda,Alameda,06001,...,3818.0,4189,0.911435,0.902831,0.920039,0.004390,4.956508,NaN,1.235649,2013-04-12 05:45:17.545
1,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06003,Alpine,Alpine,06003,...,201.0,210,0.957143,0.929749,0.984536,0.013976,32.611226,NaN,1.297617,2013-04-12 05:45:17.545
2,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06005,Amador,Amador,06005,...,176.0,547,0.321755,0.282606,0.360904,0.019974,6.207789,NaN,0.436209,2013-04-12 05:45:17.545
3,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06007,Butte,Butte,06007,...,1843.0,3395,0.542857,0.526100,0.559615,0.008550,1.870238,NaN,0.735962,2013-04-12 05:45:17.545
4,469,"Percent of Population within ½ Mile of Park, B...",2010,1,AIAN,CO,06009,Calaveras,Calaveras,06009,...,191.0,526,0.363118,0.322020,0.404216,0.020968,5.774480,NaN,0.492286,2013-04-12 05:45:17.545

In [4]:
print parks.shape[0]
print parks.geotype.unique()
print parks.reportyear.unique()

86886
[u'CO' u'CT' u'PL' u'RE' u'ST']
[2010]

In [5]:
#Keep data at Place level, for Total race only
parks2 = parks[(parks.geotype=="PL") & (parks.race_eth_code == 9)]
print parks2.shape[0]
print parks2.geotype.unique()
print parks2.geotypevalue.nunique()
parks2 = parks2[['geotype', 'geotypevalue', 'geoname', 'county_name', 'county_fips', 'p_parkacc']]
parks2.head()

1524
[u'PL']
1524

,geotype,geotypevalue,geoname,county_name,county_fips,p_parkacc
85227,PL,00135,Acalanes Ridge CDP,Contra Costa,06013,1.000000
85228,PL,00156,Acampo CDP,San Joaquin,06077,0.000000
85229,PL,00212,Acton CDP,Los Angeles,06037,0.403765
85230,PL,00296,Adelanto city,San Bernardino,06071,0.147017
85231,PL,00310,Adin CDP,Modoc,06049,0.610294

In [6]:
fipsurl = 'https://github.com/crsalviati/CA_Housing/raw/master/Raw_Data/fips_codes_website.xls'
fips = pd.read_excel(fipsurl, converters={1:str,2:str,3:str,4:str})
fips.head()

,State Abbreviation,State FIPS Code,County FIPS Code,FIPS Entity Code,ANSI Code,GU Name,Entity Description
0,AL,01,067,00124,02403054,Abbeville,city
1,AL,01,073,00460,02403063,Adamsville,city
2,AL,01,117,00820,02403069,Alabaster,city
3,AL,01,095,00988,02403074,Albertville,city
4,AL,01,123,01132,02403077,Alexander City,city

In [7]:
fips.rename(columns={'FIPS Entity Code':'geotypevalue'},inplace =True)
fips.head()
fips.shape[0]

41787

In [8]:
combined = pd.merge(parks2, fips, on='geotypevalue')
print combined.shape[0]
combined.head()

1671

,geotype,geotypevalue,geoname,county_name,county_fips,p_parkacc,State Abbreviation,State FIPS Code,County FIPS Code,ANSI Code,GU Name,Entity Description
0,PL,00156,Acampo CDP,San Joaquin,06077,0.000000,PA,42,091,01216850,Abington,township
1,PL,00212,Acton CDP,Los Angeles,06037,0.403765,OH,39,021,01085838,Adams,township
2,PL,00296,Adelanto city,San Bernardino,06071,0.147017,CA,06,071,02409663,Adelanto,city
3,PL,00296,Adelanto city,San Bernardino,06071,0.147017,OH,39,111,01086646,Adams,township
4,PL,00310,Adin CDP,Modoc,06049,0.610294,NE,31,107,00837844,Addison,township

In [9]:
print combined['State Abbreviation'].value_counts()

CA    480
MN     91
PA     90
OH     87
MI     68
ND     56
WI     56
IN     53
KS     46
TX     46
IL     45
NE     42
OK     35
MO     35
NY     34
SD     34
NC     30
NJ     27
AR     20
AL     20
IA     19
GA     18
TN     18
KY     17
SC     16
MS     16
VA     14
FL     13
OR     12
NM     12
HI     11
CT     10
LA      9
AZ      8
ME      8
NH      7
WA      7
VT      6
MD      6
WV      6
UT      6
CO      5
MT      5
PR      5
AK      5
MA      5
ID      4
WY      3
RI      2
DE      2
NV      1
Name: State Abbreviation, dtype: int64

In [10]:
fips2 = pd.read_csv('H:\data_science\CA_Housing\Raw_Data\\fips_codes.txt', sep='|',converters={1:str,2:str})
fips2.head()

,STATE,STATEFP,PLACEFP,PLACENAME,TYPE,FUNCSTAT,COUNTY
0,CA,06,00135,Acalanes Ridge CDP,Census Designated Place,S,Contra Costa County
1,CA,06,00156,Acampo CDP,Census Designated Place,S,San Joaquin County
2,CA,06,00212,Acton CDP,Census Designated Place,S,Los Angeles County
3,CA,06,00296,Adelanto city,Incorporated Place,A,San Bernardino County
4,CA,06,00310,Adin CDP,Census Designated Place,S,Modoc County

In [56]:
fips2.rename(columns={'PLACEFP':'geotypevalue'},inplace =True)
combined2 = pd.merge(parks2, fips2, on='geotypevalue', how='left')
print combined2.shape[0]
print parks2.shape[0]
print combined2[combined2.STATE.isnull()]
combined2['clean_name'] = combined2['PLACENAME'].str.replace(' city', '')
combined2['clean_name'] = combined2['clean_name'].str.replace(' CDP', '')
combined2.head()

1524
1524
     geotype geotypevalue geoname county_name county_fips  p_parkacc STATE  \
1523      PL        99999     NaN         NaN         NaN   0.335702   NaN

     STATEFP PLACENAME TYPE FUNCSTAT COUNTY
1523     NaN       NaN  NaN      NaN    NaN

,geotype,geotypevalue,geoname,county_name,county_fips,p_parkacc,STATE,STATEFP,PLACENAME,TYPE,FUNCSTAT,COUNTY,clean_name
0,PL,00135,Acalanes Ridge CDP,Contra Costa,06013,1.000000,CA,06,Acalanes Ridge CDP,Census Designated Place,S,Contra Costa County,Acalanes Ridge
1,PL,00156,Acampo CDP,San Joaquin,06077,0.000000,CA,06,Acampo CDP,Census Designated Place,S,San Joaquin County,Acampo
2,PL,00212,Acton CDP,Los Angeles,06037,0.403765,CA,06,Acton CDP,Census Designated Place,S,Los Angeles County,Acton
3,PL,00296,Adelanto city,San Bernardino,06071,0.147017,CA,06,Adelanto city,Incorporated Place,A,San Bernardino County,Adelanto
4,PL,00310,Adin CDP,Modoc,06049,0.610294,CA,06,Adin CDP,Census Designated Place,S,Modoc County,Adin

In [28]:
zill_rent_ind = pd.read_csv('H:\data_science\CA_Housing\Raw_Data\City_ZriPerSqft_AllHomes.csv', converters={1:str})

In [57]:
zill_rent_ind.rename(columns={'RegionName':'clean_name'},inplace =True)
zill_rent_ind = zill_rent_ind[zill_rent_ind.State == 'CA']
print zill_rent_ind.shape[0]
zill_rent_ind.head()

737

,RegionID,clean_name,State,Metro,CountyName,SizeRank,2010-11,2010-12,2011-01,2011-02,...,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,1.578,1.578,1.578,1.580,...,1.904,1.910,1.914,1.920,1.930,1.946,1.960,1.974,1.988,2.002
8,54296,San Diego,CA,San Diego,San Diego,9,1.492,1.494,1.492,1.490,...,1.708,1.710,1.712,1.714,1.718,1.730,1.742,1.758,1.770,1.780
10,33839,San Jose,CA,San Jose,Santa Clara,11,1.540,1.544,1.536,1.528,...,2.124,2.138,2.150,2.162,2.172,2.184,2.196,2.210,2.224,2.236
12,20330,San Francisco,CA,San Francisco,San Francisco,13,2.502,2.524,2.514,2.466,...,3.456,3.512,3.560,3.596,3.612,3.620,3.612,3.608,3.600,3.602
33,18203,Fresno,CA,Fresno,Fresno,34,0.840,0.838,0.832,0.822,...,0.802,0.800,0.798,0.794,0.798,0.802,0.808,0.812,0.814,0.816

In [59]:
combined2 = pd.merge(combined2, zill_rent_ind, on='clean_name', how='left')
combined2.head()

,geotype,geotypevalue,geoname,county_name,county_fips,p_parkacc,STATE,STATEFP,PLACENAME,TYPE,...,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05
0,PL,00135,Acalanes Ridge CDP,Contra Costa,06013,1.000000,CA,06,Acalanes Ridge CDP,Census Designated Place,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PL,00156,Acampo CDP,San Joaquin,06077,0.000000,CA,06,Acampo CDP,Census Designated Place,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PL,00212,Acton CDP,Los Angeles,06037,0.403765,CA,06,Acton CDP,Census Designated Place,...,1.060,1.060,1.056,1.058,1.062,1.076,1.090,1.104,1.110,1.114
3,PL,00296,Adelanto city,San Bernardino,06071,0.147017,CA,06,Adelanto city,Incorporated Place,...,0.738,0.742,0.746,0.746,0.746,0.744,0.746,0.750,0.754,0.756
4,PL,00310,Adin CDP,Modoc,06049,0.610294,CA,06,Adin CDP,Census Designated Place,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
print combined2.shape[0]
print combined2.clean_name.nunique()
print combined2.PLACENAME.nunique()
print combined2.RegionID.count()

1526
1507
1513
680

In [75]:
#combined2.sortvalues()
print combined2[['geotypevalue', 'PLACENAME', 'clean_name']].loc[combined2.duplicated('clean_name', keep=False)]

     geotypevalue           PLACENAME     clean_name
82          04470         Bayview CDP        Bayview
83          04478         Bayview CDP        Bayview
86          04716     Bear Valley CDP    Bear Valley
87          04730     Bear Valley CDP    Bear Valley
166         08954        Burbank city        Burbank
167         08954        Burbank city        Burbank
168         08968         Burbank CDP        Burbank
169         08968         Burbank CDP        Burbank
282         14450    Cold Springs CDP   Cold Springs
283         14454    Cold Springs CDP   Cold Springs
419         21796     El Cerrito city     El Cerrito
420         21810      El Cerrito CDP     El Cerrito
436         22454     El Sobrante CDP    El Sobrante
437         22457     El Sobrante CDP    El Sobrante
493         25488        Franklin CDP       Franklin
494         25506        Franklin CDP       Franklin
548         30987      Greenfield CDP     Greenfield
549         30994     Greenfield city     Greenfield
551         31092    Green Valley CDP   Green Valley
552         31099    Green Valley CDP   Green Valley
731         40526      Las Flores CDP     Las Flores
732         40536      Las Flores CDP     Las Flores
766         41922        Live Oak CDP       Live Oak
767         41936       Live Oak city       Live Oak
920         49651   Mountain View CDP  Mountain View
921         49670  Mountain View city  Mountain View
1148        62602  Rolling Hills city  Rolling Hills
1149        62625   Rolling Hills CDP  Rolling Hills
1210        68263      San Miguel CDP     San Miguel
1211        68266      San Miguel CDP     San Miguel
1305        73690   Spring Valley CDP  Spring Valley
1306        73696   Spring Valley CDP  Spring Valley
1323        75315      Strawberry CDP     Strawberry
1324        75322      Strawberry CDP     Strawberry